@import '@automattic/color-studio/dist/color-variables.scss';

// Import Gutenberg variables
@import '@wordpress/base-styles/colors.scss';
@import '@wordpress/base-styles/variables.scss';
@import '@wordpress/base-styles/mixins.scss';
@import '@wordpress/base-styles/breakpoints.scss';
@import '@wordpress/base-styles/animations.scss';
@import '@wordpress/base-styles/z-index.scss';
@import '@wordpress/base-styles/default-custom-properties.scss';

$fallback-gutter: 24px;
$fallback-gutter-large: 40px;
$gutter: var(--main-gap);
$gutter-large: var(--large-gap);

$gap-largest: 40px;
$gap-larger: 36px;
$gap-large: 24px;
$gap: 16px;
$gap-small: 12px;
$gap-smaller: 8px;
$gap-smallest: 4px;

// Header
$header-height: 60px;
$header-scroll-shadow: 0 8px 8px 0 rgba(85, 93, 102, 0.3);

// Sidebar
$sidebar-width: 272px;

// @todo Remove this spacing variable
$spacing: 16px;

// Gutenberg variable overrides.
$white: $studio-white;
$black: $studio-black;
$alert-red: $error-red;
$alert-yellow: $notice-yellow;
$alert-green: $valid-green;

// WordPress defaults
$adminbar-height: 32px;
$adminbar-height-mobile: 46px;
$admin-menu-width: 160px;
$admin-menu-width-collapsed: 36px;

// wp-admin colors
$wp-admin-background: #f1f1f1;
$wp-admin-sidebar: #24292d;

// Muriel
$muriel-box-shadow-1dp: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
	0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
$muriel-box-shadow-6dp: 0 3px 5px rgba(0, 0, 0, 0.2),
	0 1px 18px rgba(0, 0, 0, 0.12), 0 6px 10px rgba(0, 0, 0, 0.14);
$muriel-box-shadow-8dp: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
	0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
