.woocommerce-advice-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: calc(32 * $grid-unit);
	border-radius: 2px;
	border: 1px dashed $gray-400;
	padding: $grid-unit-20;

	&__body {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: $grid-unit-30;
		justify-content: center;
		align-items: center;
		padding: $grid-unit-40 $grid-unit-80;
	}

	&__dismiss-button {
		position: absolute;
		top: -6px;
		right: -6px;
		color: $gray-700;
	}

	&__tip {
		text-align: center;
		margin: 0;
	}
}
