// Document actions
// Component in header for displaying email/campaign title edit popup
.woocommerce-email-editor-campaign-name {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	min-width: 0;

	.components-dropdown {
		display: inline-flex;
	}

	.components-button {
		min-width: 0;
		padding: 0;
	}

	.woocommerce-email-campaign-name-link {
		display: inline-flex;
		height: fit-content;
		margin-right: 10px;
		margin-top: 10px;
	}
}

// Document actions - Popup for editing email/campaign title
.woocommerce-email-editor-campaign-name-dropdown {
	.components-popover__content {
		min-width: 280px;
		padding: 0;
	}

	.woocommerce-email-editor-email-title-edit {
		padding: 16px;
	}
}

.woocommerce-email-editor-save-button-dropdown {
	.components-popover__content {
		min-width: 280px;
	}
}

// We currently don't support command palette so we hide the shortcut
.editor-document-bar__shortcut {
	display: none !important;
}

// Temporarily hide text about amount of changes to save.
// The wording is not great for email context.
.entities-saved-states__text-prompt {
	p {
		display: none;
	}
}

// Ensure checkbox controls in save panel dropdown to span the full width
.woocommerce-email-editor-save-button-dropdown
	.components-panel__row
	.components-checkbox-control {
	width: 100%;
}
