.woocommerce-recommended-payments-banner {
	margin: 0 15px 10px 0;
	min-width: 750px;
	animation: isLoaded;
	animation-duration: 250ms;

	.woocommerce-recommended-payments-banner__body {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 0;
	}

	.woocommerce-recommended-payments__header-title {
		color: $studio-gray-90;
	}

	.woocommerce-recommended-payments__header-heading {
		color: $studio-gray-60;
	}

	.woocommerce-recommended-payments-banner__text_container {
		width: 46%;
		margin-inline: 24px;

		a {
			margin-top: 0;
		}

		* {
			margin-block: 1rem;
		}
	}

	.woocommerce-recommended-payments-banner__footer {
		display: flex;
		align-items: center;
		justify-content: center;

		p {
			color: #757575;
			font-style: normal;
			font-weight: 400;
		}
	}

	.woocommerce-recommended-payments-banner__footer_icon_container {
		display: flex;
		align-items: center;

		p {
			margin-left: 8px;
		}
	}

	.woocommerce-recommended-payments-banner__footer_icon_container > svg {
		height: 28px;
		width: 51px;
	}
}
