.woocommerce-recommended-payments-banner {
	margin: 0 15px 10px 0;
	animation: isLoaded;
	min-width: 550px; // for smaller screens
	animation-duration: 250ms;

	&.components-card {
		box-shadow: none;
		border: 1px solid $table-border;
		border-radius: 2px;
	}

	.woocommerce-recommended-payments-banner__body {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 0;
		padding: 30px 0 0 0;
	}

	.woocommerce-recommended-payments__header-title {
		color: $studio-gray-90;
		line-height: 32px;
	}

	.woocommerce-recommended-payments__header-heading {
		color: #757575;
	}

	.woocommerce-recommended-payments-banner__image_container {
		display: flex;
		padding-left: 15px;
		min-width: 200px; // for smaller screens
	}

	.woocommerce-recommended-payments-banner__text_container {
		margin-inline: 24px;

		a {
			margin-top: 0;
		}

		* {
			margin-block: 1rem;
		}
	}

	.woocommerce-recommended-payments-banner__footer {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding: 20px 15px 30px;

		p {
			font-style: normal;
			font-weight: 400;
		}

		@media screen and (max-width: 1024px) {
			justify-content: left;
		}
	}

	.woocommerce-recommended-payments-banner__footer_icon_container {
		display: flex;
		align-items: center;
	}

	.woocommerce-recommended-payments-banner__footer_icon_container > svg {
		height: 28px;
		width: 51px;
	}
}
