.experimental-woocommerce-autocomplete {
	&__popover-menu-container {
		position: absolute;
		left: 0;
		right: 0;
		bottom: -4px;
		.experimental-woocommerce-tree--level-1 {
			border: none;
		}
	}
	.experimental-woocommerce-tree-item {
		margin: 0;
	}
	&__create-action {
		width: 100%;
		height: 40px;
		border-top: 1px solid $gray-200;
		color: var( --wp-admin-theme-color );
		&--highlighted,
		&.components-button:focus {
			background-color: #f6f7f7;
		}
		&.components-button:focus {
			outline: 1.5px solid var( --wp-admin-theme-color );
			outline-offset: -1.5px;
			box-shadow: none;
		}
		> span {
			margin-left: 8px;
		}
	}

	.woocommerce-experimental-select-control__combox-box input {
		border: none;
		box-shadow: none;

		&:focus {
			outline: none;
		}
	}

	&.is-focused .woocommerce-experimental-select-control__combo-box-wrapper {
		box-shadow: 0 0 0 1px var( --wp-admin-theme-color );
		border-color: var( --wp-admin-theme-color );
	}
}
