.woocommerce-schedule-publish-modal {
	&__content {
		.components-datetime__time {
			display: flex;
			flex-direction: row-reverse;
			justify-content: flex-end;
			gap: $grid-unit-20;

			fieldset {
				margin-bottom: 0;

				.components-base-control {
					margin-bottom: 0;
				}
			}
		}
	}

	&__button-now {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: $grid-unit-20;
	}

	&__buttons {
		display: flex;
		justify-content: flex-end;
		gap: $grid-unit;
		padding-top: 5 * $grid-unit;
	}
}
