$control-size: $gap-large;

.experimental-woocommerce-tree-item {
	margin: 0;

	&--highlighted {
		> .experimental-woocommerce-tree-item__heading {
			background-color: $gray-100;
			outline: 1.5px solid var( --wp-admin-theme-color );
			outline-offset: -1.5px;
		}
	}

	&__heading {
		display: flex;
		flex-grow: 1;
		gap: $gap-smaller;
		min-height: $gap-largest;
		padding: 0 $gap-small 0
			calc( ( var( --level ) - 1 ) * ( $gap + $gap-small ) + $gap-small );
		border-radius: 2px;

		&:hover,
		&:focus-within {
			outline: 1.5px solid var( --wp-admin-theme-color );
			outline-offset: -1.5px;
		}

		&:hover,
		&:focus-within {
			background-color: $gray-100;
		}
	}

	&__label {
		display: flex;
		flex-grow: 1;
		align-items: center;
		padding: $gap-smaller $gap-small $gap-smaller 0;
		position: relative;

		> span {
			display: block;
		}

		svg.components-checkbox-control__checked,
		svg.components-checkbox-control__indeterminate,
		.components-checkbox-control__input[type='checkbox'] {
			cursor: default;
			&:focus {
				outline: none;
				box-shadow: none;
			}
		}
	}

	&__expander {
		display: flex;
		align-items: center;

		.components-button {
			cursor: default;
			padding: 0;
			height: $control-size;
			width: $control-size;
			min-width: $control-size;
		}
	}

	&__checkbox {
		@include screen-reader-only();
	}
}
