{contentType xml}
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<url>
	<loc>{$config->baseUrl}/index.html</loc>
</url>
<url n:foreach="$namespaces as $namespace">
	<loc>{$config->baseUrl}/{$namespace|namespaceUrl}</loc>
</url>
<url n:foreach="$packages as $package">
	<loc>{$config->baseUrl}/{$package|packageUrl}</loc>
</url>

{define elements}
<url n:foreach="$elements as $element">
	<loc>{$config->baseUrl}/{$element|elementUrl}</loc>
</url>
{/define}

{include elements, elements => $classes}
{include elements, elements => $interfaces}
{include elements, elements => $traits}
{include elements, elements => $exceptions}
{include elements, elements => $constants}
{include elements, elements => $functions}
</urlset>
