# Project guidelines

## Structure

I am predominantly working on interactivity API and WooCommerce blocks. The code is located in 2 main areas:

1. The frontend code: `plugins/woocommerce/client/blocks`, the project is called "@woocommerce/block-library"
2. The PHP blocks code: `plugins/woocommerce/src/Blocks`

# Commands

Build and watch the relevant JS for blocks:

-   pnpm --filter='@woocommerce/plugin-woocommerce' watch:build
