{
	"root": true,
	"env": {
		"browser": true,
		"es6": true,
		"node": true,
		"jest/globals": true
	},
	"globals": {
		"wp": true,
		"wpApiSettings": true,
		"wcSettings": true,
		"es6": true,
		"page": true,
		"browser": true,
		"context": true,
		"jestPuppeteer": true
	},
	"rules": {
		"camelcase": 0,
		"indent": 0,
		"max-len": [ 2, { "code": 140 } ],
		"no-console": 1
	},
	"parserOptions": {
		"ecmaVersion": 8,
		"ecmaFeatures": {
			"modules": true,
			"experimentalObjectRestSpread": true,
			"jsx": true
		}
	},
	"plugins": [
		"jest"
	],
	"extends": [
		"plugin:jest/recommended"
	],
	"parser": "babel-eslint"
}
