# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea
.vscode
*.sublime-project
*.sublime-workspace
.sublimelinterrc
*.swp

# Grunt
node_modules/
none

# Sass
.sass-cache/

# Compiled CSS
/assets/css/*.css
/assets/css/photoswipe/**/*.min.css

# Minified JS
/assets/js/admin/*.min.js
/assets/js/frontend/*.min.js
/assets/js/accounting/*.min.js
/assets/js/flexslider/*.min.js
/assets/js/jquery-blockui/*.min.js
/assets/js/jquery-cookie/*.min.js
/assets/js/jquery-flot/*.min.js
/assets/js/jquery-payment/*.min.js
/assets/js/jquery-qrcode/*.min.js
/assets/js/jquery-serializejson/*.min.js
/assets/js/jquery-tiptip/*.min.js
/assets/js/jquery-ui-touch-punch/*.min.js
/assets/js/js-cookie/*.min.js
/assets/js/photoswipe/*.min.js
/assets/js/prettyPhoto/*.min.js
/assets/js/round/*.min.js
/assets/js/select2/*.min.js
/assets/js/selectWoo/*.min.js
/assets/js/stupidtable/*.min.js
/assets/js/zeroclipboard/*.min.js
/assets/js/zoom/*.min.js

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db

# Behat/CLI Tests
tests/cli/installer
tests/cli/composer.phar
tests/cli/composer.lock
tests/cli/composer.json
tests/cli/vendor

# Unit tests
/tmp
/tests/bin/tmp
/tests/e2e/config/local-*.json
/tests/e2e/config/local.json
/tests/e2e/config/default.json
/tests/e2e/env/config/default.json
/tests/e2e/docker
/tests/e2e/env/docker/wp-cli/initialize.sh
/tests/e2e/env/build/
/tests/e2e/env/build-module/
/tests/e2e/utils/build/
/tests/e2e/utils/build-module/

# Logs
/logs

# Composer
/vendor/
/bin/composer/**/vendor/
/lib/vendor/
contributors.md
contributors.html

# Packages
/packages/*
!/packages/README.md

# Screenshots for e2e tests failures
/screenshots/

# Language files
i18n/languages/woocommerce.pot

# Build
build/
woocommerce.zip
