/.* export-ignore
/phpcs.xml export-ignore
/phpunit.* export-ignore
/unit-tests export-ignore
/vendor export-ignore
/README.md export-ignore
/readme.txt export-ignore
/composer.* export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/renovate.json export-ignore
/unit-tests export-ignore
