# Operating System files
.DS_Store
Thumbs.db

# IDE files
.idea
.vscode/

# Eslint Cache
.eslintcache

# Environment files
wp-cli.local.yml
.wp-env.override.json
yarn-error.log
npm-debug.log
.pnpm-debug.log

# Build files
*.sql
*.swp
*.zip

# Built packages
build/
build-module/
build-style/

# Project files
node_modules/
vendor/

# TypeScript files
tsconfig.tsbuildinfo

# wp-env config
.wp-env.override.json

# Unit tests
/tmp
packages/js/e2e-environment/config/default.json
packages/js/e2e-environment/docker/wp-cli/initialize.sh
packages/js/e2e-environment/build/
packages/js/e2e-environment/build-module/
