# Operating System files
.DS_Store
Thumbs.db

# IDE files
.idea
.vscode/*
project.xml
project.properties
.project
.settings*
*.sublime-project
*.sublime-workspace
.sublimelinterrc

# Grunt
none

# Sass
.sass-cache/

# Logs
logs/

# Eslint Cache
.eslintcache

# Environment files
wp-cli.local.yml
yarn-error.log
npm-debug.log
.pnpm-debug.log

# Build files
*.sql
*.swp
*.zip

# Built packages
build/
build-module/
build-style/
build-types/
dist/

# Project files
node_modules/
vendor/

# TypeScript files
tsconfig.tsbuildinfo

# Node Package Dependencies
package-lock.json

# wp-env config
.wp-env.override.json

# Unit tests
tmp/

# Composer
vendor/
bin/composer/**/vendor/
lib/vendor/
contributors.md
contributors.html

# Yarn
yarn.lock

# Editors
nbproject/private/

# E2E and API Test Results
test-results

# Admin Feature config
plugins/woocommerce/includes/react-admin/feature-config.php

# PHP lint
phpcs-report.xml

# Allure directories
allure-report
allure-results

# Code analyzer output and env
changes.json
.env

# Turborepo
.turbo

# Support .gitkeep Files
!.gitkeep
