; adding this as npm 7 automatically installs peer dependencies but pnpm does not
auto-install-peers=true
strict-peer-dependencies=false

; See https://github.com/pnpm/pnpm/pull/8363 (we adding the setting now, to not miss when migrating to pnpm 9.7+)
manage-package-manager-versions=true

; pnpm installation speed tweaks
; https://pnpm.io/npmrc#modules-cache-max-age, 20160 is for two weeks in minutes
modules-cache-max-age=20160
; https://pnpm.io/npmrc#child-concurrency, default 5
child-concurrency=8
