destination: wc-apidocs
templateConfig: apigen/theme-woocommerce/config.neon
extensions: [php]
source:
    - woocommerce.php
    - includes
exclude:
    - includes/libraries/
    - includes/api/legacy/
charset: [UTF-8]
main: WC
title: WooCommerce Code Reference
baseUrl: https://docs.woocommerce.com/wc-apidocs/
templateTheme: default
php: false
sourceCode: true
tree: true
deprecated: true
todo: true
download: false
