# Monorepo CI and package managers manifests.
/.github/ @woocommerce/flux
**/composer.json @woocommerce/flux
**/package.json @woocommerce/flux

# Monorepo tooling folders.
/bin/ @woocommerce/flux
/tools/ @woocommerce/flux
/packages/js/eslint-plugin/ @woocommerce/flux
/packages/js/dependency-extraction-webpack-plugin/ @woocommerce/flux
/packages/js/e2e-utils-playwright/ @woocommerce/flux

# Files in root of repository
/.* @woocommerce/flux
/*.* @woocommerce/flux
/changelog.txt
/pnpm-lock.yaml

# Docs resources, which gets published to https://developer.woocommerce.com
/docs/ @woocommerce/developer-advocacy

# Interactivity API - public stores
/plugins/woocommerce/client/blocks/assets/js/base/stores/ @woocommerce/billow
/plugins/woocommerce/src/Blocks/Utils/BlocksSharedState.php @woocommerce/billow

# Core cart and checkout related files
/plugins/woocommerce/includes/class-wc-cart*.php @woocommerce/rubik
/plugins/woocommerce/includes/class-wc-checkout*.php @woocommerce/rubik
/plugins/woocommerce/includes/wc-cart-functions.php @woocommerce/rubik
/plugins/woocommerce/includes/class-wc-session-handler.php @woocommerce/rubik

# Store API related files
/plugins/woocommerce/src/StoreApi/ @woocommerce/rubik

# Cart Checkout Blocks
/plugins/woocommerce/client/blocks/assets/js/blocks/cart @woocommerce/rubik
/plugins/woocommerce/client/blocks/assets/js/blocks/cart-checkout-shared @woocommerce/rubik
/plugins/woocommerce/client/blocks/assets/js/blocks/checkout @woocommerce/rubik
/plugins/woocommerce/client/blocks/assets/js/blocks/mini-cart @woocommerce/rubik
/plugins/woocommerce/client/blocks/assets/js/blocks/order-confirmation @woocommerce/rubik
/plugins/woocommerce/client/blocks/packages/checkout @woocommerce/rubik