.woocommerce-search-control__menu {
    position: absolute;
    width: 100%;
    top: 100%;
    background: $studio-white;
    border: 1px solid $studio-gray-5;
    border-radius: 3px;
    box-sizing: border-box;
}