.woocommerce-iframe-editor__header-toolbar {
	height: 60px;
	border: 0;
	border-bottom: 1px solid $gray-400;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.woocommerce-iframe-editor__header-toolbar-inserter-toggle.components-button.has-icon {
		height: 32px;
		margin-right: 8px;
		min-width: 32px;
		padding: 0;
		width: 32px;

		svg {
			transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
		}

		&.is-pressed:before {
			width: 100%;
			left: 0;
		}

		&.is-pressed svg {
			transform: rotate(45deg);
		}
	}

	&-left {
		padding-left: $gap-small;
	}
	&-right {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: $gap-smaller;
		> .components-dropdown-menu {
			margin-right: $gap-small;
			width: 48px;
			> button.components-dropdown-menu__toggle {
				padding: $gap-smaller !important;
				margin-right: -8px;
			}
		}
		> .woocommerce-show-block-inspector-panel {
			margin-right: -$gap-smaller;
		}
		button.woocommerce-modal-actions__done-button,
		button.woocommerce-modal-actions__cancel-button {
			height: $gap-larger - $gap-smallest;
		}
	}
}
