.woocommerce-iframe-editor__header {
	height: 60px;
	border: 0;
	border-bottom: 1px solid $gray-400;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.woocommerce-iframe-editor__header-inserter-toggle.components-button.has-icon {
		height: 32px;
		min-width: 32px;
		padding: 0;
		width: 32px;

		svg {
			transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
		}

		&.is-pressed:before {
			width: 100%;
			left: 0;
		}

		&.is-pressed svg {
			transform: rotate(45deg);
		}
	}

	&-left {
		padding-left: $gap-small;
		align-items: center;
		display: flex;

		.components-accessible-toolbar {
			.woocommerce-iframe-editor-document-tools__left {
				align-items: center;
				display: inline-flex;
				gap: 8px;
				margin-right: 8px;

				// Copying how Gutenberg handles styling the toolbar buttons in the editor
				// see: https://github.com/mattsherman/gutenberg/blob/d538f429f018aba34814b360c5adf37eb6013427/packages/editor/src/components/document-tools/style.scss#L39
				// The Toolbar component adds different styles to buttons, so we reset them
				// here to the original button styles
				& > .components-button.has-icon,
				& > .components-dropdown > .components-button.has-icon {
					height: 32px;
					min-width: 32px;
					padding: $gap-smallest;

					&.is-pressed {
						background: $gray-900;
					}

					&:focus:not(:disabled) {
						box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color), inset 0 0 0 $border-width $white;
						outline: $border-width solid transparent;
					}

					&::before {
						display: none;
					}
				}
			}
		}

		.selected-block-tools-wrapper {
			overflow-x: hidden;
			display: flex;

			.block-editor-block-contextual-toolbar {
				border-bottom: 0;
			}

			&::after {
				content: "";
				width: $border-width;
				margin-top: $grid-unit + $grid-unit-05;
				margin-bottom: $grid-unit + $grid-unit-05;
				background-color: $gray-300;
				margin-left: $grid-unit;
			}

			// Modified group borders.
			.components-toolbar-group,
			.components-toolbar {
				border-right: none;

				&::after {
					content: "";
					width: $border-width;
					margin-top: $grid-unit + $grid-unit-05;
					margin-bottom: $grid-unit + $grid-unit-05;
					background-color: $gray-300;
					margin-left: $grid-unit;
				}

				& .components-toolbar-group.components-toolbar-group {
					&::after {
						display: none;
					}
				}
			}

			&.is-collapsed {
				display: none;
			}
		}
	}
	&-right {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: $gap-smaller;
		> .components-dropdown-menu {
			margin-right: $gap-small;
			width: 48px;
			> button.components-dropdown-menu__toggle {
				padding: $gap-smaller !important;
				margin-right: -8px;
			}
		}
		> .woocommerce-show-block-inspector-panel {
			margin-right: -$gap-smaller;
		}
		button.woocommerce-modal-actions__done-button,
		button.woocommerce-modal-actions__cancel-button {
			height: $gap-larger - $gap-smallest;
		}
	}
}
