.woocommerce-iframe-editor__header-toolbar {
    height: 60px;
    border: 0;
    border-bottom: 1px solid $gray-400;
    display: flex;
    align-items: center;

    .woocommerce-iframe-editor__header-toolbar-inserter-toggle.components-button.has-icon {
        height: 32px;
        margin-right: 8px;
        min-width: 32px;
        padding: 0;
        width: 32px;

        svg {
            transition: transform .2s cubic-bezier(.165,.84,.44,1);
        }

        &.is-pressed:before {
            width: 100%;
            left: 0;
        }

        &.is-pressed svg {
            transform: rotate(45deg);
        }
    }

    &-left {
        padding-left: $gap-small;
    }    
}
