.woocommerce-hidden-with-help-icon {
	display: flex;
	align-items: center;
	position: relative;

	&__hidden-icon {
		color: $gray-600;
	}
	&__help-icon {
		position: absolute;
		right: -2px;
		bottom: 0px;
	}
}
