.woocommerce-product-block-editor {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	button,
	span,
	label,
	div,
	input {
		font-family: var(--wp--preset--font-family--system-font);
	}

	h4 {
		font-size: 16px;
	}

	label {
		color: $gray-900;
	}

	a {
		text-decoration: none;
	}

	/*
	 * Override default block margins and layout applied for themes without a theme.json file.
	 *
	 * If we no longer call `is_block_editor( true )` in the future for the product editor,
	 * we can remove this.
	 *
	 * See: `wp_add_editor_classic_theme_styles()`
	 */
	:where(.wp-block) {
		margin-bottom: 0;
		margin-top: 0;
		max-width: unset;
	}

	.has-error {
		.components-base-control {
			margin-bottom: 0;

			.components-input-control__backdrop {
				border-color: $studio-red-50;
			}
		}

		.components-base-control__help {
			color: $studio-red-50;
		}
	}

	.components-base-control {
		.components-base-control__field {
			margin-bottom: 0;
		}

		.components-base-control__help {
			margin-bottom: 0;
		}
	}

	.components-toggle-control {
		margin-bottom: 0;

		.components-form-toggle {
			display: flex;
			align-items: center;
		}

		.components-toggle-control__label {
			display: flex;
			align-items: center;
		}
	}

	.woocommerce-collapsible-content .woocommerce-collapsible-content__content {
		margin-top: calc(2 * $gap);
	}

	.components-input-control {
		&__input::placeholder {
			color: $gray-700;
		}

		&__prefix {
			margin-left: $gap-smaller;
		}

		&__suffix {
			margin-right: $gap-smaller;
		}
	}

	.woocommerce-product-form {
		&__custom-label-input {
			display: flex;
			flex-direction: column;

			label {
				display: block;
				margin-bottom: $gap-smaller;
			}
		}

		&__optional-input {
			color: $gray-700;
		}
	}

	.wp-block-columns {
		gap: $gap-large;
		margin-bottom: 0;
	}

	.woocommerce-experimental-select-control__label {
		text-transform: uppercase;
		font-size: 11px;
		color: $gray-900;
		font-weight: 500;
	}

	.block-editor-block-list__layout {
		&.is-root-container {
			padding-left: calc(2 * $gap);
			padding-right: calc(2 * $gap);
			padding-bottom: 128px;

			@include breakpoint(">782px") {
				padding-left: 0;
				padding-right: 0;
				max-width: 650px;
				margin-left: auto;
				margin-right: auto;
			}
		}

		.block-editor-block-list__block:not([contenteditable]):focus:after {
			display: none; // use important or increase specificity.
		}
	}
}

.woocommerce-layout:has(.woocommerce-product-block-editor) {
	.woocommerce-layout__primary {
		margin-top: calc($gap-largest + $gap-smaller);
	}
	.woocommerce-layout__header {
		display: none;
	}
}

.wp-admin.woocommerce-feature-enabled-product-block-editor {
	.components-modal {
		&__frame {
			border-radius: $gap-smaller;
		}
		&__header {
			border: none;
		}
	}
}
