.wp-block-woocommerce-product-variation-items-field {
	@media ( min-width: #{ ($break-medium) } ) {
		min-height: 420px;
	}
}

.variation-items-product-tour {
	.tour-kit-spotlight {
		border-radius: $gap-smaller;
		padding: $gap-large;
	}
	.tour-kit-frame__container,
	.woocommerce-tour-kit-step {
		border-radius: $gap-smaller;
	}
}
