.woocommerce-product-custom-fields__edit-modal {
	&-actions {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 12px;
		margin-top: $grid-unit-40;
	}

	.components-base-control {
		width: 100%;

		.components-input-base {
			.components-input-control__input {
				height: 36px;
			}
		}
	}

	.components-modal__content {
		width: 500px;
		max-width: 100%;
	}
}
