.woocommerce-product-custom-fields__edit-modal {
	min-width: 75%;

	&-actions {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 12px;
		margin-top: $grid-unit-40;
	}

	.components-base-control {
		width: 100%;
	}
}
