@import "./place-holder/style.scss";

.wp-block-woocommerce-product-images-field {
	.woocommerce-media-uploader {
		text-align: left;

		.components-drop-zone {
			// This height cannot be higher than this, otherwise it will invade the area from the block below.
			min-height: 84px;
		}
	}

	.woocommerce-media-uploader__label {
		display: none;
	}

	.woocommerce-sortable {
		margin-top: 0;
		padding: 0;
	}

	&.has-images {
		.woocommerce-image-gallery {
			margin-top: $gap-largest;
		}
	}

	&:not(.has-images) {
		.woocommerce-sortable {
			display: none;
		}
	}
}
