.woocommerce-product-custom-fields__create-modal {
	min-width: 75%;

	&-list {
		&-item {
			display: flex;
			gap: $grid-unit-20;
			border-bottom: 1px solid $gray-200;
			padding-top: $grid-unit-30;
			padding-bottom: $grid-unit;
			margin-bottom: 0;

			&:first-child {
				padding-top: 0;
			}

			.components-base-control {
				width: 100%;
			}

			.components-button {
				margin-top: 20px;
			}
		}
	}

	&-actions {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 12px;
		margin-top: $grid-unit-40;
	}
}
