# Source file or directory to parse
source:
# Directory where to save the generated documentation
destination:
# List of allowed file extensions
extensions: [php]
# Mask to exclude file or directory from processing
exclude:
# Don't generate documentation for classes from file or directory with this mask
skipDocPath:
# Don't generate documentation for classes with this name prefix
skipDocPrefix:
# Character set of source files
charset: auto
# Main project name prefix
main:

# Title of generated documentation
title:
# Documentation base URL
baseUrl:
# Google Custom Search ID
googleCseId:
# Google Custom Search label
googleCseLabel:
# Google Analytics tracking code
googleAnalytics:
# Template config file
templateConfig: './templates/default/config.neon'
# Grouping of classes
groups: auto
# List of allowed HTML tags in documentation
allowedHtml: [b, i, a, ul, ol, li, p, br, var, samp, kbd, tt]
# Element types for search input autocomplete
autocomplete: [classes, constants, functions]

# Generate documentation for methods and properties with given access level
accessLevels: [public, protected]
# Generate documentation for elements marked as internal and display internal documentation parts
internal: No
# Generate documentation for PHP internal classes
php: Yes
# Generate tree view of classes, interfaces and exceptions
tree: Yes
# Generate documentation for deprecated classes, methods, properties and constants
deprecated: No
# Generate documentation of tasks
todo: No
# Generate highlighted source code files
sourceCode: Yes
# Add a link to download documentation as a ZIP archive
download: No
# Save a checkstyle report of poorly documented elements into a file
report:

# Wipe out the destination directory first
wipeout: Yes
# Don't display scanning and generating messages
quiet: No
# Display progressbars
progressbar: Yes
# Use colors
colors: No
# Check for update
updateCheck: Yes
# Display additional information in case of an error
debug: No
