.woocommerce-seo-preview {
	position: relative;
	border: 1px solid rgba( 0, 0, 0, 0.1 );
	border-radius: var( --wpds-dimension-base );
	padding: calc( 4 * var( --wpds-dimension-base ) );
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		inset: -1px;
		background-image: radial-gradient(
			circle,
			#000 0.5px,
			transparent 0.5px
		);
		background-size: 6px 6px;
		opacity: 0.12;
		pointer-events: none;
	}

	.search-preview {
		background-color: #fff;
		position: relative;
		border: 1px solid var( --wpds-color-bg-surface-neutral-weak );
		border-radius: var( --wpds-dimension-base );
	}
}

.dataforms-layouts-regular__field:has( .woocommerce-seo-preview )
	.components-base-control__label {
	// Dataforms applies a different color to the label of readonly fields
	// So, ensure that the label of the readonly SEO preview field looks same as those of the other fields.
	color: var( --wpds-color-fg-content-neutral );
}
