.woocommerce-button-with-dropdown-menu {
	gap: 1px;

	&__main-button {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	&__dropdown-button {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}
