.woocommerce-button-with-dropdown-menu {
	&__main-button {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	&__dropdown-button {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;

		&.is-opened svg {
			transform: rotate( 180deg ); // @todo: consider to set the is-opened in the local state
		}
	}
}

.woocommerce-button-with-dropdown-menu.components-flex {
	gap: 1px;
}
