.product-details-section {

	&__product-link {
		color: #757575;
		font-size: 12px;
		display: block;
		margin-top: $gap-smaller;

		> a {
			color: inherit;
			text-decoration: none;
			font-weight: 600;
		}

		.components-button.is-link {
			font-size: 12px;
			text-decoration: none;
			margin-left: $gap-smaller;
		}
	}
}
