.woocommerce-feedback-modal__buttons {
	text-align: right;

	.components-button {
		margin-left: 1em;
	}
}

.woocommerce-feedback-modal .woocommerce-feedback-modal__description {
	max-width: 550px;
	margin: 0 0 1.5em 0;
}
