.woocommerce-product-header {
	height: $header-height;
	display: flex;
	align-items: center;
	padding: 0 $gap;

	&__actions {
		margin-left: auto;
	}

	.components-popover__content {
		min-width: auto;
		width: min-content;
	}

	.woocommerce-product-header__actions {
		display: flex;

		> * + * {
			margin-left: $gap;
		}
	}
}
