.woocommerce-product-header {
	&__inner {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		grid-gap: $gap;
		align-items: center;
		padding: 0 $gap;
		height: $header-height;

		@include breakpoint( '<960px' ) {
			grid-template-columns: auto 1fr;
		}
	}

	.woocommerce-product-header__title {
		text-align: center;
		font-size: 16px;
		font-weight: 600;
		padding: 0;
		color: #000000;
		max-width: 500px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		@include breakpoint( '<960px' ) {
			display: none;
		}
	}

	&__actions {
		margin-left: auto;
	}

	.components-popover__content {
		min-width: auto;
		width: min-content;
	}

	.woocommerce-product-header__actions {
		display: flex;

		> * + * {
			margin-left: $gap;
		}
	}

	.components-dropdown-menu__toggle {
		&.is-opened {

			background-color: #1E1E1E;
			color: #fff;
		}
	}
}
