.woocommerce-product-header {
	&__inner {
		display: grid;
		grid-template-columns: 0 1fr auto 1fr;
		grid-gap: $gap;
		align-items: center;
		padding: 0 $gap 0 0;
		height: $header-height;

		@include breakpoint("<960px") {
			grid-template-columns: auto 1fr;
		}
	}

	.woocommerce-product-header-title-bar {
		display: flex;
		align-items: center;
		background-color: $gray-100;
		justify-content: center;
		width: 400px;
		border-radius: $gap-smallest;
		padding: $gap-smallest $gap-small;
		gap: $gap-small;

		&.is-variation {
			display: flex;
			align-items: center;
			background-color: $white;

			.woocommerce-product-header__title {
				font-size: 16px;
				font-weight: 600;
				align-items: center;
			}
		}

		@include breakpoint("<960px") {
			display: none;
		}

		&__image {
			width: $gap-large;
			height: $gap-large;
			img {
				width: 100%;
				height: 100%;
			}
			svg {
				fill: $gray-600;
			}
		}

		.woocommerce-product-header__title {
			text-align: center;
			font-size: 13px;
			font-weight: 400;
			padding: 0;
			color: #000000;
			max-width: 500px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: flex;
			align-items: center;
			gap: $gap-small;

			.woocommerce-tag__text {
				background-color: #dcdcde; // $gray-5
				border-radius: $gap-smallest;
				font-weight: 400;
			}

			@include breakpoint("<960px") {
				display: none;
			}
		}
	}

	&__actions {
		margin-left: auto;

		&-edit-schedule {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			gap: $grid-unit-05;

			:last-child {
				color: $gray-700;
				font-size: 13px;
			}
		}
	}

	.woocommerce-product-header__actions {
		display: flex;

		> * + * {
			margin-left: $gap-smaller;
		}
	}

	.components-dropdown-menu__toggle {
		&.is-opened {
			background-color: #1e1e1e;
			color: #fff;
		}
	}

	&__back-tooltip-wrapper {
		width: fit-content;
	}

	&__variable-product-id {
		color: $gray-700;
	}
}

.woocommerce-product-header.is-loading {
	.woocommerce-product-header__title {
		@include placeholder();
		background-color: $gray-200;
		border-radius: $grid-unit-05;
		min-width: 300px;
		min-height: $grid-unit-30;
	}

	.woocommerce-product-header__actions {
		.woocommerce-product-header__action {
			@include placeholder();
			background-color: $gray-200;
			border-radius: $grid-unit-05;
			height: $grid-unit-30;

			&:nth-child(n) {
				min-width: $grid-unit-80;
			}

			&:first-child {
				min-width: calc(10 * $grid-unit);
			}

			&:last-child {
				min-width: $icon-size;
			}
		}
	}

	.woocommerce-product-tabs {
		height: 46px;
		align-items: flex-start;

		.components-button {
			@include placeholder();
			background-color: $gray-200;
			border-radius: $grid-unit-05;
			height: $grid-unit-20;
			min-width: $grid-unit-80;
		}
	}
}

.woocommerce-product-header__more-menu {
	.components-popover__content {
		min-width: auto;
		width: min-content;
	}
}
