.woocommerce-number-control {
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none !important;
		margin: 0 !important;
	}

	input[type="number"] {
		appearance: textfield;
		-moz-appearance: textfield;
	}
}
