$place-holder-size: 5px;

.woocommerce-sortable__item {
    margin: 0;
    position: relative;

    &.is-dragging {
        display: none;
    }
}

.woocommerce-sortable__placeholder {
    display: none;
    height: $place-holder-size;
    width: 100%;
    background: $studio-wordpress-blue-50;
    border-radius: 5px;
    margin: 0;

    &.is-over {
        display: block;
    }
}