.wp-block-woocommerce-product-details-section-description {
	margin-top: $grid-unit;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: $grid-unit-05;

	p {
		margin: 0;
	}
}
