$gutenberg-blue: var(--wp-admin-theme-color);

.woocommerce-product-mvp-ces-footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: $gap-smaller $gap;

	.woocommerce-pill {
		margin-right: $gap-smaller;
	}

	.components-button {
		margin-left: $gap;
	}

	&__close-button {
		position: absolute;
		right: $gap;
	}

	&__container {
		margin-right: $gap-larger;
		flex-wrap: nowrap;
		display: flex;
		align-items: center;
	}
}

.components-modal__content {
	> p {
		text-transform: uppercase;
		color: $gray-900;
	}
	.woocommerce-customer-effort-score__selection {
		.components-radio-control__option {
			margin-right: 0;
			label {
				color: $gray-900;
				padding: 1em 0;
				width: 8.8em;
				height: 80px;
				&::before {
					margin: 8px 0;
				}
				&:hover {
					box-shadow: 0 0 0 1.5px $gutenberg-blue;
					border-radius: 2px;
					background-color: #fff;
				}
			}
		}
	}
	.components-base-control {
		margin-top: 10px;
	}
	.woocommerce-product-feedback__additional-thoughts,
	.woocommerce-product-feedback__email {
		.components-base-control__help {
			color: $error-red;
		}
		.components-base-control__label {
			color: $gray-900;
			line-height: 16px;
			text-transform: uppercase;
			.woocommerce-product-feedback__optional-input {
				color: $gray-700;
			}
		}
		.components-base-control__field {
			> span {
				font-size: 12px;
				line-height: 16px;
				color: $gray-700;
			}
		}
	}
}
