.woocommerce-table-row-skeleton {
	@mixin skeleton {
		@include placeholder();
		background-color: $gray-200;
		border-radius: $grid-unit-05;
		width: $grid-unit-30;
		min-height: $grid-unit-30;
	}

	display: grid;
	grid-template-columns: 44px auto 25% 25% 88px;
	padding: 0;
	min-height: 9 * $grid-unit;
	border: none;
	align-items: center;

	&__checkbox {
		@include skeleton();
	}

	&__attribute-option {
		@include skeleton();
		width: 9 * $grid-unit;
	}

	&__regular-price,
	&__quantity {
		@include skeleton();
		width: $grid-unit-80;
		display: inline-block;
	}

	&__visibility-icon {
		@include skeleton();
		flex-shrink: 0;
	}

	&__edit-link {
		@include skeleton();
		width: $grid-unit-70;
		height: $grid-unit-40 + $grid-unit-05;
		flex-shrink: 0;
	}

	&__menu-toggle {
		@include skeleton();
		width: $grid-unit-40 + $grid-unit-05;
		height: $grid-unit-40 + $grid-unit-05;
		flex-shrink: 0;
	}
}
