.woocommerce-sortable-list__item {
    background: $studio-white;
    border: 1px solid $gray-400;
    margin: 0;
    padding: $gap-small;

    &.is-dragging {
        display: none;
    }
}

.woocommerce-sortable-list__slot {
    width: 100%;
    height: 50px;
    background-color: red;
    opacity: 0.3;
}