.woocommerce-sortable-list {
    &.is-dragging .woocommerce-sortable-list__item {
        transition: transform 0.1s ease-in;
    }
}

.woocommerce-sortable-list__item {
    background: $studio-white;
    border: 1px solid $gray-400;
    margin: 0;
    padding: $gap;
    display: flex;
    align-items: center;

    &.is-dragging {
        display: none;
    }
}

.woocommerce-sortable-list__handle {
    cursor: grab;
    margin-right: $gap;
    display: inline-flex;
}