@import './visibility-section/style.scss';

.woocommerce-product-publish-panel {
	bottom: 0;
    right: 0;
    top: $admin-bar-height-big;
	overflow: auto;
    position: fixed;
	background: $white;
    width: 100%;

	@include break-medium() {
		top: 0;
		width: $sidebar-width - $border-width;
		@include reduce-motion("animation");

		body.is-fullscreen-mode & {
			top: 0;
		}
	}

	&__header {
		height: $header-height + $border-width;
		display: flex;
		align-items: center;
		gap: 8px;
		padding: 0 $grid-unit-20;
		justify-content: right;

		> button {
			flex: 1;
		}

		.components-button {
			width: 100%;
			justify-content: center;
		}

		.woocommerce-publish-panel-close {
			flex: unset;
			width: unset;
		}
	}

	&__title {
		padding: $grid-unit-20;
		h4 {
			font-size: 14px;
			line-height: 20px;
			margin: 8px 0;
		}
	}

	&__content {
		// Ensure the pre-publish panel content accounts for the header and footer height.
		min-height: calc( 100% - #{ $header-height + 222px } );
		.editor-post-publish-panel__link {
			font-weight: 400;
   			 padding-left: $gap-smallest;
		}
	}

	&__footer {
		padding: $gap $grid-unit-20 $gap-largest $grid-unit-20;
		left: 0;
		width: 100%;
		min-height: $gap-largest + $gap-large;
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		.components-base-control__field {
			margin: 0;
		}
	}

	.post-publish-section {
		&__postpublish-subheader {
			margin: 0 0 $gap-small;
		}
		&__postpublish-post-address-container {
			align-items: flex-end;
			display: flex;
			margin-bottom: $gap-small;
			gap: $gap;
		}
		&__postpublish-post-address {
			flex: 1;
		}
		&__copy-button-wrap {
			flex-shrink: 0;
			margin-bottom: $gap-smaller;
		}
		&__postpublish-buttons {
			display: flex;
			justify-content: space-between;
			gap: $gap-small;
			.components-button {
				padding: $gap-smaller;
				flex: 1;
    			justify-content: center;
			}
		}
	}
}

.is-published {
	display: flex;
	flex-direction: column;
	.woocommerce-product-publish-panel {
		&__header, &__title {
			border-bottom: $border-width solid $gray-200;
			font-weight: 500;
		}
		&__content {
			min-height: 180px;
			flex-grow: 1;
		}
	}
}

.interface-interface-skeleton__actions {
	transform: translateX(+100%);
	animation: product-publish-panel__slide-in-animation 0.1s forwards;
	@include break-medium() {
		// Keep it open on focus to avoid conflict with navigate-regions animation.
		[role="region"]:focus & {
			transform: translateX(0%);
		}
	}
}

@keyframes product-publish-panel__slide-in-animation {
	100% {
		transform: translateX(0%);
	}
}
