@import "./visibility-section/style.scss";

.woocommerce-product-publish-panel {
	background: $white;
	transform: translateX(+100%);
	animation: product-publish-panel__slide-in-animation 0.1s forwards;

	@include break-medium() {
		@include reduce-motion("animation");

		body.is-fullscreen-mode & {
			top: 0;
		}

		// Keep it open on focus to avoid conflict with navigate-regions animation.
		[role="region"]:focus & {
			transform: translateX(0%);
		}
	}

	&__header {
		height: $header-height + $border-width;
		display: flex;
		align-items: center;
		gap: 8px;
		padding: 0 $grid-unit-20;

		> button {
			flex: 1;
		}

		.components-button {
			width: 100%;
			justify-content: center;
		}
	}

	&__title {
		padding: $grid-unit-20;
		h4 {
			font-size: 14px;
			line-height: 20px;
			margin: 8px 0;
		}
	}
}

@keyframes product-publish-panel__slide-in-animation {
	100% {
		transform: translateX(0%);
	}
}
