.woocommerce-attribute-combobox-container {
	position: relative;
	min-height: 60px;

	&:not( .no-items ) .components-form-token-field__suggestions-list {
		border-top: 1px solid #949494;
	}
}

.woocommerce-attribute-combobox {
	position: absolute;

	.components-combobox-control__suggestions-container {
		margin: 0;
		padding: 0;
		background-color: white;

		> .components-flex {
			height: 34px;
		}
	}

	.components-form-token-field__suggestion {
		padding: 0;

		.item-wrapper {
			padding: 9px 12px;

			&.is-disabled {
				background-color: #fafafa;
				color: #949494;
				cursor: not-allowed;
			}
		}

		&.is-selected .item-wrapper .is-disabled {
			background-color: #fafafa;
		}
	}

	.components-form-token-field__suggestions-list {
		box-shadow: none;
		z-index: 10;
	}

	.components-base-control__help {
		position: absolute;	
		left: 0;
		top: 36px;	
	}
	.woocommerce-attribute-combobox-help {
		display: flex;
	
		> svg {
			fill: #949494;
		}
	}
}
