.woocommerce-attribute-combobox-container {
	position: relative;
}

.woocommerce-attribute-combobox {
	position: absolute;

	.components-combobox-control__suggestions-container {
		margin: 0;
		padding: 0;
		background-color: white;

		> .components-flex {
			height: 34px;
		}
	}

	.components-form-token-field__suggestions-list {
		box-shadow: none;
		border-top: 1px solid #949494;
	}

	.components-form-token-field__suggestion {
		padding: 0;

		.item-wrapper {
			padding: 9px 12px;

			&.is-disabled {
				background-color: #fafafa;
				color: #949494;
				cursor: not-allowed;
			}
		}

		&.is-selected .item-wrapper .is-disabled {
			background-color: #fafafa;
		}
	}
}
