.woocommerce-attributes-combobox {
	position: relative;
	background-color: white;
	
	.components-base-control__field {
		height: 36px;
	}

	.components-combobox-control__suggestions-container {
		position: absolute;
		padding: 0;
		background-color: white;

		> .components-flex {
			height: 34px;
		}
	}

	.components-form-token-field__suggestion {
		padding: 0;
		min-height: 32px;
		display: flex;
		align-items: center;

		.item-wrapper {
			padding: 0 12px;
			height: 36px;
			line-height: 36px;
			width: 100%;

			&.is-disabled {
				background-color: #fafafa;
				color: #949494;
				cursor: default;
			}
		}

		&.is-selected .item-wrapper .is-disabled {
			background-color: #fafafa;
		}
	}
}

.woocommerce-attributes-combobox-help {
	display: flex;
	align-items: center;

	> svg {
		fill: #949494;
	}

	.components-spinner {
		margin: 0 4px 0 0;
		padding: 2px;
		width: 18px;
		height: 18px;
	}
}
