.wp-block-woocommerce-product-section {
	margin: calc(3 * $gap) 0 0;
	padding: 0 0 calc(3 * $gap);
	border-bottom: 1px solid #ddd;

	&:first-child {
		margin-top: calc(4 * $gap);
	}

	&:last-child {
		border-bottom: none;
	}
}

.wp-block-woocommerce-product-section-header {
	&__heading {
		padding: 0;
		margin: 0 0 calc(2 * $gap) 0;
		width: 100%;

		&-title-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: $grid-unit-20;
		}

		&-title {
			margin: 0;
			font-size: 20px;
			font-weight: 500;
			color: $gray-900;
			display: inline-flex;
			align-items: center;

			.block-editor-block-icon {
				margin-right: 14px;

				> div {
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}

	&__content {
		&--block-gap-unit-30 > * + * {
			margin-top: $grid-unit-30;
		}

		&--block-gap-unit-40 > * + * {
			margin-top: $grid-unit-40;
		}
	}

	&__heading-description {
		margin: 0;
		max-width: 300px;
	}

	// <ActionSections /> slot.
	&__actions {
		display: flex;
		justify-content: flex-end;
		gap: $grid-unit;

		/*
		 * Core removes the "loading" animation styles
		 * from the button when it's disabled, so we
		 * let's add them back.
		 */
		.components-button.is-tertiary.is-busy:disabled {
			background-image: linear-gradient(
				-45deg,
				#fafafa 33%,
				#e0e0e0 0,
				#e0e0e0 70%,
				#fafafa 0
			);
			background-size: 100px 100%;
			opacity: 1;
		}
	}
}

.woocommerce-tooltip > .wp-block-woocommerce-product-section-header__heading-tooltip {
	margin-left: $gap-small;
}
