.components-modal__screen-overlay {
	.woocommerce-create-new-taxonomy-modal {
		min-width: 650px;
		overflow: visible;

		&__buttons {
			margin-top: 36px;
			display: flex;
			flex-direction: row;
			gap: 8px;
			justify-content: flex-end;
		}
	}
}


