.wp-block-woocommerce-product-description-field {
	&:focus {
		box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
		outline: 3px solid transparent;
	}

	&.has-blocks {
		min-height: 320px;
		.woocommerce-content-preview {
			min-height: 320px;
			&:after {
				display: none;
			}

			.woocommerce-content-preview__iframe {
				min-height: 320px;
			}
		}
	}

	.woocommerce-content-preview {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		z-index: 100;
	}
}
