
.wp-block-woocommerce-product-description-field {
	&.has-blocks {
		min-height: 320px;
		.wp-block-woocommerce-product-description-field__cover,
		.woocommerce-content-preview {
			min-height: 320px;
			&:after {
				display: none;
			}

			.woocommerce-content-preview__iframe {
				min-height: 320px;
			}
		}
	}

	.woocommerce-content-preview {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		z-index: 100;
	}
}

.wp-block-woocommerce-product-description-field__cover {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 200;
}
