.wc-block-error {
	display: flex;
	background-color: #f3f3f4;
	border-left: 4px solid #6d6d6d;
	padding: $gap-larger $gap;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.wc-block-error__header {
	font-size: 2em;
	font-weight: bold;
	margin: 0;
}

.wc-block-error__text,
.wc-block-error__message {
	margin: 0;
}

@include breakpoint( ">480px" ) {
	.wc-block-error {
		flex-direction: row;
	}

	.wc-block-error__image + .wc-block-error__content {
		margin-left: $gap;
	}
}
