.wp-block-woocommerce-product-list-field {
	display: flex;
	flex-direction: column;
	gap: $grid-unit-30;

	&__header {
		display: flex;
		align-items: center;
		justify-content: end;
	}

	&__empty-state {
		min-height: 28 * $grid-unit;
		border-radius: 2px;
		border: 1px dashed $gray-400;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: $grid-unit-60;
		gap: $grid-unit-30;

		&-illustration {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: $grid-unit-40;
			max-width: 100%;
		}

		&-tip {
			text-align: center;
			margin: 0;
			color: $gray-700;
		}
	}
}
