.components-modal__screen-overlay {
	.woocommerce-create-new-taxonomy-modal {
		min-width: 650px;
		overflow: visible;

		&__buttons {
			margin-top: $gap-larger;
			display: flex;
			flex-direction: row;
			gap: $gap-smaller;
			justify-content: flex-end;
		}

		&__optional {
			color: $gray-700;
		}
		.components-modal__content { // make sure that inline popovers can exceed the dialog's limits
			overflow: visible;
		}
	}

	.components-base-control {
		margin-bottom: $gap;
		&__field {
			.components-base-control {
				margin-bottom: 0;
			}
		}
	}

	.has-error {
		.components-text-control__input {
			border-color: $studio-red-50;
		}

		.components-base-control__help {
			color: $studio-red-50;
		}
	}
}

