
# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea
.vscode
*.sublime-project
*.sublime-workspace
.sublimelinterrc

# Build Artifacts
/node_modules/
/dist/
tsconfig.tsbuildinfo
