.woocommerce-fields-control__images-fieldset {
	gap: 8px;
}

.woocommerce-fields-control__featured-image {
	display: grid;
	gap: 8px;
	grid-template-columns: repeat( auto-fill, 72px );
	grid-auto-rows: 72px;
}

.woocommerce-fields-controls__featured-image-uploaded-images {
	display: contents;
}

.woocommerce-fields-controls__image-wrapper {
	position: relative;
	width: 72px;
	height: 72px;
	border-radius: var( --wpds-border-radius-lg );
	display: flex;
	box-sizing: border-box;
	transform-origin: 0 0;
	touch-action: manipulation;

	&:has( .woocommerce-fields-controls__image-drag-handle-container ) {
		cursor: grab;

		&:active {
			cursor: grabbing;
		}
	}
}

.woocommerce-fields-controls__image-wrapper.is-dragging {
	transform-origin: 50% 50%;

	.is-keyboard-dragging & {
		transform-origin: 0 0;
	}

	.woocommerce-fields-controls__image-drag-handle-container {
		opacity: 1;
		z-index: 2;
	}

	.woocommerce-fields-controls__image-overlay {
		opacity: 1;
		background-color: rgba( 0, 0, 0, 0.5 );
	}
}

.woocommerce-fields-controls__image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba( 0, 0, 0, 0.3 );
	border-radius: var( --wpds-border-radius-lg );
	z-index: 1;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	pointer-events: none;
}

.woocommerce-fields-controls__image-drag-handle-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	z-index: 1;
}

.woocommerce-fields-controls__image-drag-handle {
	cursor: grab;
	color: #fff;
	border-radius: 3px;
	background: transparent;

	svg {
		fill: #fff;
	}

	&:active {
		cursor: grabbing;
	}

	&:hover {
		border: none;
	}
}

.woocommerce-fields-controls__image-remove-button {
	position: absolute;
	top: calc( var( --wpds-dimension-base ) );
	right: calc( var( --wpds-dimension-base ) );
	border-radius: 50%;
	border: 1px solid var( --wpds-color-stroke-interactive-neutral );
	background-color: var( --wpds-color-bg-surface-neutral-strong );
	overflow: hidden;
	width: $button-size-small;
	height: $button-size-small;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	z-index: 2;
}

.woocommerce-fields-controls__image-wrapper {
	&:hover,
	&:focus-within {
		.woocommerce-fields-controls__image-drag-handle-container,
		.woocommerce-fields-controls__image-remove-button {
			opacity: 1;
		}

		.woocommerce-fields-controls__image-overlay {
			opacity: 1;
		}
	}
}

.woocommerce-fields-controls__image-wrapper img {
	position: relative;
	object-fit: cover;
	border-radius: var( --wpds-border-radius-lg );
	width: 100%;
	height: 100%;
	pointer-events: none;
	-webkit-user-drag: none;
	user-drag: none;
}

.woocommerce-fields-control__featured-image-actions {
	width: 72px;
	height: 72px;
	border: 1px dashed var( --wpds-color-stroke-interactive-neutral );
	border-radius: var( --wpds-border-radius-lg );

	button {
		width: 100%;
		height: 100%;
		cursor: pointer;
		border-radius: var( --wpds-border-radius-lg );
	}
}
