.woocommerce-experimental-select-control__combo-box-wrapper {
    cursor: text;
}

.woocommerce-experimental-select-control__combox-box {
    flex-grow: 1;
    align-items: center;
    flex-basis: 120px;

    input {
        width: 100%;
        margin-top: 2px;
        margin-bottom: 2px;
    }
}

.woocommerce-experimental-select-control__combox-box-icon {
    padding-left: 10px;
    margin-right: -2px;
}