.woocommerce-experimental-select-control__combo-box-wrapper {
	cursor: text;
	border: 1px solid $studio-gray-20;
	border-radius: 2px;
	background: $studio-white;
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 4px;
	min-height: 36px;
	box-sizing: border-box;

	&--disabled {
		opacity: 0.5;
	}
}

.woocommerce-experimental-select-control__items-wrapper {
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	align-items: center;
	padding: 2px $gap-smaller;

	> * {
		display: inline-flex;
	}
}

.woocommerce-experimental-select-control__combox-box {
	flex-grow: 1;
	align-items: center;
	flex-basis: 120px;
	display: inline-flex;

	input {
		width: 100%;
		margin-top: 2px;
		margin-bottom: 2px;
		font-size: 13px;
	}
}

.woocommerce-experimental-select-control__suffix {
	align-self: stretch;
}

.woocommerce-experimental-select-control__combox-box-toggle-button {
	all: unset;
	position: absolute;
	right: 6px;
	top: 50%;
	transform: translateY( -50% );
	> svg {
		margin-top: 4px;
	}
}

.woocommerce-experimental-select-control:not( .is-focused ) .woocommerce-experimental-select-control__combox-box-toggle-button {
	pointer-events: none; // Prevents the icon from being clickable when the combobox is not focused, because otherwise we get a race condition when clicking on the icon, because focussing the combobox opens the menu, then sequentially the icon toggles it back closed
}
