.wp-block-woocommerce-product-section {
    margin-bottom: 48px;
	padding-top: 48px;

	&:first-child {
		padding-top: 64px;
	}

    &__title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 24px;
        font-weight: 500;
        color: $gray-900;
        display: inline-flex;
        align-items: center;

        .block-editor-block-icon {
            margin-right: 14px;

            > div {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &__description {
        margin-top: $gap-small;
        font-size: 13px;
        color: $gray-900;
    }
}

.wp-block-woocommerce-product-section + .wp-block-woocommerce-product-section {
	border-top: 1px solid #ddd;
}
