/**
 * _fonts.scss
 * Custom WooCommerce fonts.
 */
@font-face {
	font-family: 'star';
	src: url('#{$fontpath}star.eot');
	src: url('#{$fontpath}star.eot?#iefix') format('embedded-opentype'),
		url('#{$fontpath}star.woff') format('woff'),
		url('#{$fontpath}star.ttf') format('truetype'),
		url('#{$fontpath}star.svg#star') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'WooCommerce';
	src: url('#{$fontpath}WooCommerce.eot');
	src: url('#{$fontpath}WooCommerce.eot?#iefix') format('embedded-opentype'),
		url('#{$fontpath}WooCommerce.woff') format('woff'),
		url('#{$fontpath}WooCommerce.ttf') format('truetype'),
		url('#{$fontpath}WooCommerce.svg#WooCommerce') format('svg');
	font-weight: normal;
	font-style: normal;
}
