/**
 * WooCommerce CSS Variables
 */

$wc-brand:   	    #a46497 !default;
$wc-green:         	#7ad03a !default;
$wc-red:           	#a00 !default;
$wc-orange:        	#ffba00 !default;
$wc-blue:          	#2ea2cc !default;

$wc-primary:        #a46497 !default;                                     // Primary color for buttons (alt)
$wc-primary-text:   desaturate(lighten($wc-primary, 50%), 18%) !default;    // Text on primary color bg

$wc-secondary:      desaturate(lighten($wc-primary, 40%), 21%) !default;    // Secondary buttons
$wc-secondary-text: desaturate(darken($wc-secondary, 60%), 21%) !default;   // Text on secondary color bg

$wc-highlight:      adjust-hue($wc-primary, 150deg) !default;               // Prices, In stock labels, sales flash
$wc-highligh-text:  desaturate(lighten($wc-highlight, 50%), 18%) !default;  // Text on highlight color bg

$wc-content-bg:     #fff !default;                                        // Content BG - Tabs (active state)
$wc-subtext:        #767676 !default;                                     // small, breadcrumbs etc

// export vars as CSS vars
:root {
	--wc-brand: $wc-brand;
	--wc-green: $wc-green;
	--wc-red: $wc-red;
	--wc-orange: $wc-orange;
	--wc-blue: $wc-blue;
	--wc-primary: $wc-primary;
	--wc-primary-text: $wc-primary-text;
	--wc-secondary: $wc-secondary;
	--wc-secondary-text: $wc-secondary-text;
	--wc-highlight: $wc-highlight;
	--wc-highligh-text: $wc-highligh-text;
	--wc-content-bg: $wc-content-bg;
	--wc-subtext: $wc-subtext;
}
