/**
 * dashboard-setup.scss
 * Styles for WooCommerce dashboard finish setup widgets
 * only loaded on the dashboard itself.
 */

/**
 * Styling begins
 */

.dashboard-widget-finish-setup {

	.progress-wrapper {
		border: 1px solid #757575;
		border-radius: 20px;
		font-size: 0.9em;
		padding: 2px 10px 2px 7px;
		display: inline-block;
	}

	.progress-wrapper span {
		position: relative;
		top: -2px;
	}

	.description div {
		margin-top: 11px;
		float: left;
		width: 70%;
	}

	.description img {
		float: right;
		width: 30%;
	}

	.circle-progress {

		circle {
			stroke: #949494;
			stroke-width: 1px;
		}

		.bar {
			stroke: #f0f0f0;
		}
	}
}
