/**
 * marketplace-suggestions.scss
 * Styling for in-product marketplace suggestions.
 */

.marketplace-table-banner {

	h2 {
		color: #555;
	}

	td {
		vertical-align: middle;
	}

	td.marketplace-table-title {
		padding-left: 4em;
	}

	td.marketplace-table-linkout {
		text-align: right;
		padding-right: 3em;
	}
}

@media screen and (max-width: 782px) {

	.marketplace-table-banner {
		display: none;
	}
}

.marketplace-suggestions-container[data-marketplace-suggestions-context="products-list-empty-body"] {
	margin-top: 4em;
	text-align: left;

	.marketplace-listitem-container {
		border-top: 1px solid #ccc;
		margin-top: 2em;

		h4 {
			margin-bottom: 0.5em;
		}

		p {
			margin-top: 0;
		}

		a.button {
			display: inline-block;
		}
	}

}
