/**
 * marketplace-suggestions.scss
 * Styling for in-product marketplace suggestions.
 */

@import "mixins";
@import "variables";

a.suggestion-dismiss {
	border: none;
	box-shadow: none;
	color: #ccc;
}

a.suggestion-dismiss:hover {
	color: #aaa;
}

a.suggestion-dismiss::before {

	@include iconbeforedashicons( "\f335" );

	font-size: 1.5em;
}

.marketplace-table-banner {

	h2 {
		color: #555;
	}

	td {
		vertical-align: middle;
	}

	td.marketplace-table-title {
		border-left: 4px solid $woocommerce;
		padding-left: 4em;
	}

	td.marketplace-table-linkout {
		text-align: right;
		padding-right: 1em;

		a.button {
			margin-right: 0.5em;
		}

		a.suggestion-dismiss {
			position: relative;
			top: 4px;
		}
	}
}

@media screen and (max-width: 782px) {

	.marketplace-table-banner {
		display: none;
	}
}

.marketplace-suggestions-container.showing-suggestion[data-marketplace-suggestions-context="products-list-empty-header"],
.marketplace-suggestions-container.showing-suggestion[data-marketplace-suggestions-context="products-list-empty-footer"] {

	h4 {
		font-size: 1.1em;
	}
}

.marketplace-suggestions-container.showing-suggestion[data-marketplace-suggestions-context="products-list-empty-body"] {

	.marketplace-listitem-container {
		align-items: center;
		display: flex;

		.marketplace-listitem-container-content {
			flex: 1 0 70%;

			p {
				margin-top: 0.5em;
			}
		}

		.marketplace-listitem-container-cta {
			flex: 1 1 30%;
			text-align: right;
		}
	}
}

.marketplace-suggestions-container.showing-suggestion[data-marketplace-suggestions-context="products-list-empty-header"],
.marketplace-suggestions-container.showing-suggestion[data-marketplace-suggestions-context="products-list-empty-footer"],
.marketplace-suggestions-container.showing-suggestion[data-marketplace-suggestions-context="products-list-empty-body"] {

	text-align: left;
	border: 1px solid #ccc;
	border-bottom: none;

	h4 {
		margin: 0;
	}

	&:last-child {
		border-bottom: 1px solid #ccc;
	}

	.marketplace-listitem-container {
		padding: 1.5em;

		.marketplace-listitem-container-cta {

			a.button {
				display: inline-block;
				min-width: 120px;
				text-align: center;
			}

			a.linkout {
				font-size: 1.1em;
				text-decoration: none;
			}

			a.linkout .dashicons {
				margin-left: 4px;
				bottom: 2px;
				position: relative;
			}

			.suggestion-dismiss {
				text-decoration: none;
				position: relative;
				top: 7px;
			}
		}

		.marketplace-listitem-container-content {

			p {
				margin: 0;
			}
		}
	}
}
