#woocommerce_network_orders {
	.inside {
		margin: 0;
		padding: 0;
	}

	.woocommerce-network-orders-no-orders,
	.woocommerce-network-order-table-loading,
	.woocommerce-network-order-table {
		width: 100%;
		display: none;

		&.is-active {
			display: block;
		}
	}

	.woocommerce-network-orders-no-orders,
	.woocommerce-network-order-table-loading {
		p {
			text-align: center;
		}
	}

	.woocommerce-network-order-table {
		&.is-active {
			display: table;
		}

		margin-top: 0;

		td {
			padding: 1em;
			cursor: default;
		}

		thead td {
			padding: 0.5em 1em;
		}
	}

	.spinner {
		margin-top: 0;
		float: none;
	}
}
