.clear {
  clear: both;
}
.nobr {
  white-space: nowrap;
}
div.pp_woocommerce .pp_content_container {
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding-top: 20px;
}
div.pp_woocommerce .pp_content {
  padding-bottom: 1em;
}
div.pp_woocommerce .pp_loaderIcon {
  background: url(../images/ajax-loader.gif) center no-repeat;
}
div.pp_woocommerce .pp_gallery ul li a {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
}
div.pp_woocommerce .pp_gallery ul li a:hover {
  border-color: #000;
}
div.pp_woocommerce .pp_gallery ul li.selected a {
  border-color: #000;
}
div.pp_woocommerce .pp_previous:before,
div.pp_woocommerce .pp_next:before {
  background: #eeeeee;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
  background: -webkit-linear-gradient(#eeeeee, #cccccc);
  background: -moz-linear-gradient(center top, #eeeeee 0%, #cccccc 100%);
  background: -moz-gradient(center top, #eeeeee 0%, #cccccc 100%);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #999;
  height: 16px;
  width: 16px;
  color: #555;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  font-family: verdana;
  font-size: 16px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.9), inset 0 -1px rgba(0, 0, 0, 0.075), 0 1px 2px rgba(0, 0, 0, 0.1);
  content: "\2039";
  text-indent: 0;
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  text-align: center;
  line-height: .85;
}
div.pp_woocommerce .pp_previous:before:hover,
div.pp_woocommerce .pp_next:before:hover {
  color: #000;
  background: #fefefe;
  background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#cccccc));
  background: -webkit-linear-gradient(#fefefe, #cccccc);
  background: -moz-linear-gradient(center top, #fefefe 0%, #cccccc 100%);
  background: -moz-gradient(center top, #fefefe 0%, #cccccc 100%);
}
div.pp_woocommerce .pp_previous:before:active,
div.pp_woocommerce .pp_next:before:active {
  background: #cccccc;
  background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#fefefe));
  background: -webkit-linear-gradient(#cccccc, #fefefe);
  background: -moz-linear-gradient(center top, #cccccc 0%, #fefefe 100%);
  background: -moz-gradient(center top, #cccccc 0%, #fefefe 100%);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
div.pp_woocommerce .pp_previous:hover:before,
div.pp_woocommerce .pp_next:hover:before {
  display: block;
}
div.pp_woocommerce .pp_previous:before {
  left: 1em;
}
div.pp_woocommerce .pp_next:before {
  right: 1em;
  content: "\203a";
}
div.pp_woocommerce .pp_details {
  margin: 0;
  padding-top: 1em;
}
div.pp_woocommerce .pp_nav,
div.pp_woocommerce .pp_description {
  font-size: 14px;
}
div.pp_woocommerce .pp_nav,
div.pp_woocommerce .pp_nav p,
div.pp_woocommerce .pp_play,
div.pp_woocommerce .pp_nav .pp_pause,
div.pp_woocommerce .pp_arrow_previous,
div.pp_woocommerce .pp_arrow_next {
  margin: 0;
}
div.pp_woocommerce .pp_nav {
  margin-right: 1em;
  position: relative;
}
div.pp_woocommerce .pp_close {
  background: #eeeeee;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
  background: -webkit-linear-gradient(#eeeeee, #cccccc);
  background: -moz-linear-gradient(center top, #eeeeee 0%, #cccccc 100%);
  background: -moz-gradient(center top, #eeeeee 0%, #cccccc 100%);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #999;
  height: 16px;
  width: 16px;
  color: #555;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  font-family: verdana;
  font-size: 16px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.9), inset 0 -1px rgba(0, 0, 0, 0.075), 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 21px;
  height: 21px;
  top: -10px;
  right: -10px;
}
div.pp_woocommerce .pp_close:hover {
  color: #000;
  background: #fefefe;
  background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#cccccc));
  background: -webkit-linear-gradient(#fefefe, #cccccc);
  background: -moz-linear-gradient(center top, #fefefe 0%, #cccccc 100%);
  background: -moz-gradient(center top, #fefefe 0%, #cccccc 100%);
}
div.pp_woocommerce .pp_close:active {
  background: #cccccc;
  background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#fefefe));
  background: -webkit-linear-gradient(#cccccc, #fefefe);
  background: -moz-linear-gradient(center top, #cccccc 0%, #fefefe 100%);
  background: -moz-gradient(center top, #cccccc 0%, #fefefe 100%);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
div.pp_woocommerce .pp_close:before {
  content: "\00d7";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  text-indent: 0;
  line-height: 1.15;
}
div.pp_woocommerce .pp_arrow_previous,
div.pp_woocommerce .pp_arrow_next {
  background: #eeeeee;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
  background: -webkit-linear-gradient(#eeeeee, #cccccc);
  background: -moz-linear-gradient(center top, #eeeeee 0%, #cccccc 100%);
  background: -moz-gradient(center top, #eeeeee 0%, #cccccc 100%);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #999;
  height: 16px;
  width: 16px;
  color: #555;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  font-family: verdana;
  font-size: 16px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.9), inset 0 -1px rgba(0, 0, 0, 0.075), 0 1px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: -1px;
}
div.pp_woocommerce .pp_arrow_previous:hover,
div.pp_woocommerce .pp_arrow_next:hover {
  color: #000;
  background: #fefefe;
  background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#cccccc));
  background: -webkit-linear-gradient(#fefefe, #cccccc);
  background: -moz-linear-gradient(center top, #fefefe 0%, #cccccc 100%);
  background: -moz-gradient(center top, #fefefe 0%, #cccccc 100%);
}
div.pp_woocommerce .pp_arrow_previous:active,
div.pp_woocommerce .pp_arrow_next:active {
  background: #cccccc;
  background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#fefefe));
  background: -webkit-linear-gradient(#cccccc, #fefefe);
  background: -moz-linear-gradient(center top, #cccccc 0%, #fefefe 100%);
  background: -moz-gradient(center top, #cccccc 0%, #fefefe 100%);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
div.pp_woocommerce .pp_arrow_previous:before,
div.pp_woocommerce .pp_arrow_next:before {
  content: "\2039";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  text-indent: 0;
  line-height: .85;
}
div.pp_woocommerce .pp_arrow_previous {
  margin-right: .5em;
}
div.pp_woocommerce .pp_arrow_next {
  margin-left: .5em;
}
div.pp_woocommerce .pp_arrow_next:before {
  content: "\203a";
}
div.pp_woocommerce a.pp_expand,
div.pp_woocommerce a.pp_contract {
  background: #eeeeee;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
  background: -webkit-linear-gradient(#eeeeee, #cccccc);
  background: -moz-linear-gradient(center top, #eeeeee 0%, #cccccc 100%);
  background: -moz-gradient(center top, #eeeeee 0%, #cccccc 100%);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #999;
  height: 16px;
  width: 16px;
  color: #555;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  font-family: verdana;
  font-size: 16px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.9), inset 0 -1px rgba(0, 0, 0, 0.075), 0 1px 2px rgba(0, 0, 0, 0.1);
  right: auto;
  left: -10px;
  top: -10px;
  height: 21px;
  width: 21px;
}
div.pp_woocommerce a.pp_expand:hover,
div.pp_woocommerce a.pp_contract:hover {
  color: #000;
  background: #fefefe;
  background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#cccccc));
  background: -webkit-linear-gradient(#fefefe, #cccccc);
  background: -moz-linear-gradient(center top, #fefefe 0%, #cccccc 100%);
  background: -moz-gradient(center top, #fefefe 0%, #cccccc 100%);
}
div.pp_woocommerce a.pp_expand:active,
div.pp_woocommerce a.pp_contract:active {
  background: #cccccc;
  background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#fefefe));
  background: -webkit-linear-gradient(#cccccc, #fefefe);
  background: -moz-linear-gradient(center top, #cccccc 0%, #fefefe 100%);
  background: -moz-gradient(center top, #cccccc 0%, #fefefe 100%);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
div.pp_woocommerce a.pp_expand:before,
div.pp_woocommerce a.pp_contract:before {
  content: "\2295";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  text-indent: 0;
  line-height: .9;
  font-size: 19px;
}
div.pp_woocommerce a.pp_contract:before {
  content: "\2297";
}
div.pp_woocommerce #respond {
  margin: 0;
}
/* ------------------------------------------------------------------------
	DO NOT CHANGE
------------------------------------------------------------------------- */
div.pp_pic_holder a:focus {
  outline: none;
}
div.pp_overlay {
  background: #000;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9500;
}
div.pp_pic_holder {
  display: none;
  position: absolute;
  width: 100px;
  z-index: 10000;
}
.pp_top {
  height: 20px;
  position: relative;
}
* html .pp_top {
  padding: 0 20px;
}
.pp_top .pp_left {
  height: 20px;
  left: 0;
  position: absolute;
  width: 20px;
}
.pp_top .pp_middle {
  height: 20px;
  left: 20px;
  position: absolute;
  right: 20px;
}
* html .pp_top .pp_middle {
  left: 0;
  position: static;
}
.pp_top .pp_right {
  height: 20px;
  left: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}
.pp_content {
  height: 40px;
  min-width: 40px;
}
* html .pp_content {
  width: 40px;
}
.pp_fade {
  display: none;
}
.pp_content_container {
  position: relative;
  text-align: left;
  width: 100%;
}
.pp_content_container .pp_left {
  padding-left: 20px;
}
.pp_content_container .pp_right {
  padding-right: 20px;
}
.pp_content_container .pp_details {
  float: left;
  margin: 10px 0 2px 0;
}
.pp_description {
  display: none;
  margin: 0;
}
.pp_social {
  float: left;
  margin: 0;
}
.pp_social .facebook {
  float: left;
  margin-left: 5px;
  width: 55px;
  overflow: hidden;
}
.pp_social .twitter {
  float: left;
}
.pp_nav {
  clear: right;
  float: left;
  margin: 3px 10px 0 0;
}
.pp_nav p {
  float: left;
  margin: 2px 4px;
  white-space: nowrap;
}
.pp_nav .pp_play,
.pp_nav .pp_pause {
  float: left;
  margin-right: 4px;
  text-indent: -10000px;
}
a.pp_arrow_previous,
a.pp_arrow_next {
  display: block;
  float: left;
  height: 15px;
  margin-top: 3px;
  overflow: hidden;
  text-indent: -10000px;
  width: 14px;
}
.pp_hoverContainer {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2000;
}
.pp_gallery {
  display: none;
  left: 50%;
  margin-top: -50px;
  position: absolute;
  z-index: 10000;
}
.pp_gallery div {
  float: left;
  overflow: hidden;
  position: relative;
}
.pp_gallery ul {
  float: left;
  height: 35px;
  margin: 0 0 0 5px;
  padding: 0;
  position: relative;
  white-space: nowrap;
}
.pp_gallery ul a {
  border: 1px #000 solid;
  border: 1px rgba(0, 0, 0, 0.5) solid;
  display: block;
  float: left;
  height: 33px;
  overflow: hidden;
}
.pp_gallery ul a:hover,
.pp_gallery li.selected a {
  border-color: #fff;
}
.pp_gallery ul a img {
  border: 0;
}
.pp_gallery li {
  display: block;
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
}
.pp_gallery li.default a {
  display: block;
  height: 33px;
  width: 50px;
}
.pp_gallery li.default a img {
  display: none;
}
.pp_gallery .pp_arrow_previous,
.pp_gallery .pp_arrow_next {
  margin-top: 7px !important;
}
a.pp_next {
  display: block;
  float: right;
  height: 100%;
  text-indent: -10000px;
  width: 49%;
}
a.pp_previous {
  display: block;
  float: left;
  height: 100%;
  text-indent: -10000px;
  width: 49%;
}
a.pp_expand,
a.pp_contract {
  cursor: pointer;
  display: none;
  height: 20px;
  position: absolute;
  right: 30px;
  text-indent: -10000px;
  top: 10px;
  width: 20px;
  z-index: 20000;
}
a.pp_close {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  line-height: 22px;
  text-indent: -10000px;
}
.pp_bottom {
  height: 20px;
  position: relative;
}
* html .pp_bottom {
  padding: 0 20px;
}
.pp_bottom .pp_left {
  height: 20px;
  left: 0;
  position: absolute;
  width: 20px;
}
.pp_bottom .pp_middle {
  height: 20px;
  left: 20px;
  position: absolute;
  right: 20px;
}
* html .pp_bottom .pp_middle {
  left: 0;
  position: static;
}
.pp_bottom .pp_right {
  height: 20px;
  left: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}
.pp_loaderIcon {
  display: block;
  height: 24px;
  left: 50%;
  margin: -12px 0 0 -12px;
  position: absolute;
  top: 50%;
  width: 24px;
}
#pp_full_res {
  line-height: 1 !important;
}
#pp_full_res .pp_inline {
  text-align: left;
}
#pp_full_res .pp_inline p {
  margin: 0 0 15px 0;
}
div.ppt {
  color: #fff;
  display: none;
  font-size: 17px;
  margin: 0 0 5px 15px;
  z-index: 9999;
}
