/**
 * Import
 */
/**
 * Custom Fonts
 */
@font-face {
  font-family: 'FontAwesome';
  src: url('font/fontawesome-webfont.eot?v=3.2.1');
  src: url('font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('font/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}
/**
 * Variables
 */
body {
  font-size: 100%;
  line-height: 1.387;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  color: #666666;
  background: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}
.wrapper {
  padding: 0 1.618em;
  margin-bottom: 4em;
}
.main,
.masthead,
.colophon {
  width: 100%;
  max-width: 900px;
  margin: 2em auto 0 auto;
  text-align: left;
}
img {
  max-width: 100%;
  height: auto;
}
.masthead {
  margin-top: 2em;
  text-align: center;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.ir {
  display: block;
  text-indent: -9999px;
  position: relative;
  height: 1em;
  width: 1em;
  display: inline-block;
}
.ir:before {
  font-family: 'FontAwesome';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  text-indent: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  content: "\f004";
  color: #ea5e55;
  font-size: .857em;
  line-height: 1.47;
  -webkit-animation: pulse 1.1s infinite linear;
  -moz-animation: pulse 1.1s infinite linear;
  -o-animation: pulse 1.1s infinite linear;
  animation: pulse 1.1s infinite linear;
}
h1 em {
  font-style: normal;
}
.ninjas {
  width: 100%;
  background: #FFFFFF;
  text-align: center;
}
.content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
a {
  color: #42a2ce;
  text-decoration: none;
}
a:hover {
  color: #2080ac;
}
.list {
  margin: 3.631em 0;
  padding: 0;
  list-style: none;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  overflow: hidden;
}
.list .row {
  text-decoration: none;
  position: relative;
  font-weight: 400;
  -webkit-transition: padding ease .4s;
}
.list .row:before,
.list .row:after {
  font-family: 'FontAwesome';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-right: 7px;
  content: "\f09b";
  position: absolute;
  top: 50%;
  left: 1em;
  margin-top: -0.5em;
  color: #dadada;
}
.list .row:after {
  content: "\f105";
  left: auto;
  right: 1em;
  -webkit-transition: all ease .4s;
}
.list .row:hover {
  background-color: #fafafa;
  box-shadow: inset 0.236em 0 0 0 #42a2ce;
}
.list .row:hover:before,
.list .row:hover:after {
  color: #2080ac;
}
.list .row:hover h2 {
  color: #2080ac;
}
.list .row:hover:after {
  right: .618em;
}
.list .row p {
  color: #666666;
  font-size: .875em;
}
.list .row h2 {
  color: #42a2ce;
  margin-bottom: .202em;
}
.list p {
  margin: 0;
}
.list li:last-child .row {
  border-bottom: 0;
}
.row {
  display: block;
  padding: 1.618em 3.632em;
  border: 1px solid #eeeeee;
  border-width: 0 0 1px;
}
.contributing {
  background: #f8f8f8;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 1.618em;
  position: relative;
}
.contributing p:last-child {
  margin: 0;
}
.logo {
  margin-bottom: 20px;
}
.omega,
h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 .618em;
  font-weight: 300;
  color: #333333;
}
.omega {
  font-size: 2.618em;
}
h1 {
  font-size: 1.618em;
}
h2 {
  font-size: 1.387em;
}
p {
  font-size: 1.15em;
}
code {
  color: #CC0033;
  background: #EFEFEF;
  padding: 0 0.2em;
}
.colophon {
  width: 100%;
  max-width: 600px;
}
.colophon p {
  color: #999999;
  font-size: .875em;
}
.colophon a {
  color: #666666;
}
/**
 * Layout
 */
@media only screen and (min-width: 768px) {
  .list .row:before,
  .list .row:after {
    font-size: 2.618em;
  }
  .list .row:hover {
    padding-left: 7.854em;
    padding-right: 5.854em;
  }
  .row {
    padding: 1.618em 6.854em;
  }
  .contributing {
    padding-left: 9.505em;
  }
  .contributing:before {
    font-family: 'FontAwesome';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: 7px;
    content: "\f126";
    position: absolute;
    top: .618em;
    left: .202em;
    margin-top: -0.5em;
    font-size: 9.505em;
    color: #ebebeb;
  }
}
/**
 * Animation
 */
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  90% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-moz-keyframes pulse {
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  90% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-o-keyframes pulse {
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  90% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  90% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}
