/**
 * unsupported-theme.scss
 * Styles applied to themes that don't formally support WooCommerce to normalize elements.
 */

.single-product {

	// Hide duplicate product title.
	h1.product_title {
		display: none;
	}

	// Normalize the button and input to the same height and font size.
	input[name="quantity"],
	.single_add_to_cart_button {
		font-size: 1em;
		height: 2em;
		line-height: 2em;
		padding-top: 0;
		padding-bottom: 0;
	}

	li.product .button {
		font-size: .75em;
	}

	a.reset_variations {
		opacity: .5;
		float: right;
	}
}
