.wp-block-woocommerce-product-schedule-sale-fields {
	margin-bottom: $gap-large;

	.components-toggle-control {
		margin-bottom: $gap;
		padding-bottom: $gap-smaller;
	}

	.components-toggle-control__label {
		display: flex;
		align-items: center;
	}
}

.wp-block-woocommerce-product-section {
	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		> .wp-block.wp-block-woocommerce-product-schedule-sale-fields:not( :first-child ) {
			margin-top: $gap;
		}
	}
}
