.storybook-custom-list {
	border: 1px solid $gray-400;
	border-radius: 2px;
	padding: 0;

	.woocommerce-list__item {
		&:not(:first-child) {
			border-top: 1px solid $gray-200;
		}

		.woocommerce-list__item-before {
			.gridicon {
				fill: $studio-pink;
			}
		}

		.woocommerce-list__item-title {
			color: $studio-pink;
		}
	}
}
