{
	"root": true,
	"env": {
		"browser": true,
		"node": true
	},
	"globals": {
		"wp": true,
		"es6": true
	},
	"rules": {
		"camelcase": 0,
		"indent": 0,
		"max-len": [
			2,
			{
				"code": 140
			}
		],
		"no-console": 1
	},
	"parserOptions": {
		"ecmaVersion": 6
	}
}
