@layer wp-ui-utilities, wp-ui-components, wp-ui-compositions, wp-ui-overrides;

@layer wp-ui-components {
	.woocommerce-tree-select-control {
		position: relative;
	}

	.woocommerce-tree-select-control__tags {
		display: flex;
		flex-wrap: wrap;
		gap: calc(2 * var(--wpds-dimension-base));
		padding: calc(2 * var(--wpds-dimension-base));
		padding-inline-end: 0;

		button {
			height: 24px;
		}
	}

	.woocommerce-tree-select-control__tag {
		align-items: center;
		background: var(--wpds-color-bg-interactive-neutral-weak-disabled);
		border-radius: var(--wpds-border-radius-xs);
		cursor: pointer;
		display: inline-flex;
		font-size: var(--wpds-font-size-sm);
		height: 24px;
		overflow: hidden;
		padding-inline-start: calc(2 * var(--wpds-dimension-base));
		text-overflow: ellipsis;
		transition: all 0.2s cubic-bezier(0.4, 1, 0.4, 1);
		user-select: none;
		white-space: nowrap;

		&:hover {
			background: var(--wpds-color-bg-interactive-neutral-weak-active);
		}

		&--non-removable {
			cursor: pointer;
			opacity: 0.7;
			padding-inline-end: calc(2 * var(--wpds-dimension-base));
		}
	}

	.woocommerce-tree-select-control__control {
		flex-wrap: wrap;
		height: initial;
	}

	.woocommerce-tree-select-control__control-input {
		background: transparent;
		border: none;
		flex-grow: 1;
		max-height: 100%;
		outline: none;
	}

	.woocommerce-tree-select-control__tree {
		background-color: var(--wpds-color-bg-surface-neutral-strong);
		border: 1px solid var(--wpds-color-stroke-surface-neutral);
		border-radius: var(--wpds-border-radius-md);
		box-shadow: var(--wpds-elevation-md);
		box-sizing: border-box;
		color: var(--wpds-color-fg-interactive-neutral);
		font-family: var(--wpds-font-family-body);
		font-size: var(--wpds-font-size-md);
		line-height: 1.4;
		max-height: min(var(--available-height), 350px);
		min-height: 42px;
		overflow-y: auto;
		overscroll-behavior: contain;
		padding-inline: calc(2 * var(--wpds-dimension-base));
		width: var(--anchor-width);
	}

	.woocommerce-tree-select-control__node {
		padding-block-start: calc(3 * var(--wpds-dimension-base));
	}

	.woocommerce-tree-select-control__expander {
		align-items: center;
		background: transparent;
		border: none;
		cursor: pointer;
		display: flex;
		padding: 0;

		&.is-hidden {
			pointer-events: none;
			visibility: hidden;
		}

		&:dir(rtl) {
			transform: scaleX(-1);
		}

		svg {
			fill: var(--wpds-color-fg-content-neutral);
		}
	}

	.woocommerce-tree-select-control__option {
		margin-inline-start: var(--wpds-dimension-base);

		&:hover label {
			color: var(--wpds-color-bg-thumb-brand-active);
		}
	}

	.woocommerce-tree-select-control__children {
		padding-inline-start: calc(6 * var(--wpds-dimension-base));
	}
}
