.woocommerce-product-form-label {
	&__label {
		display: flex;
		align-items: center;
		gap: 2px;
		color: $gray-900;
		text-transform: uppercase;
	}

	&__note {
		color: $gray-700;
	}

	&__required {
		color: #CC1818;
	}

	&__tooltip {
		.components-popover__content {
			width: 200px;
			min-width: auto;
			white-space: normal !important;
		}
	}

	&__icon {
		display: flex;
	}
}
