.wp-block-woocommerce-product-section {
	margin: calc(3 * $gap) 0 0;
	padding: 0 0 calc(3 * $gap);
	border-bottom: 1px solid #ddd;

	&:first-child {
		margin-top: calc(4 * $gap);
	}

	&:last-child {
		border-bottom: none;
	}

	&__heading {
		padding: 0;
		margin: 0 0 calc(2 * $gap) 0;
		width: 100%;

		.wp-block-woocommerce-product-section__heading-title {
			margin: 0;
			font-size: 20px;
			font-weight: 500;
			color: $gray-900;
			display: inline-flex;
			align-items: center;

			.block-editor-block-icon {
				margin-right: 14px;

				> div {
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}

	&__content {
		&--block-gap-unit-30 > * + * {
			margin-top: $grid-unit-30;
		}

		&--block-gap-unit-40 > * + * {
			margin-top: $grid-unit-40;
		}

		.wp-block-woocommerce-product-section {
			margin-top: 0;
			padding-bottom: 0;
			border-bottom: none;
		}
	}

	&__heading-description {
		margin: 0;
		max-width: 300px;
	}
}
