.woocommerce-iframe-editor {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 100%;

	&__main {
		align-items: flex-start;
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		height: 100%;
		width: 100%;
		overflow: hidden;
		z-index: 1000;
	}

	iframe {
		width: 100%;
		height: 100%;
	}

	&__content {
		box-sizing: border-box;
		flex-grow: 1;
		background-color: #2f2f2f;
		padding: 40px 48px;
		height: 100%;
		justify-content: center;
		display: flex;
		position: relative;

		&.old-fixed-toolbar-shown {
			padding: 90px 48px 40px;
		}
	}

	&__content-inserter-clipper {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 40px;
		background-color: inherit;
		z-index: 100;
	}

	&__sidebar {
		flex-shrink: 0;
		height: 100%;
		overflow: scroll;
		@media only screen and (max-width: $break-medium) {
			width: 100%;
			position: absolute;
			z-index: 100;
		}
	}

	.block-editor-block-contextual-toolbar.is-fixed {
		position: absolute;
		left: 0;
		top: 0;
		border-bottom: 1px solid $gray-400;
		border-right: 1px solid $gray-400;
		box-sizing: border-box;
		margin-left: 0px;
		width: 100% !important;
		min-height: 47px;
		> .block-editor-block-toolbar.is-showing-movers:before {
			display: none;
		}

		.block-editor-block-toolbar__group-expand-fixed-toolbar,
		.block-editor-block-toolbar__group-collapse-fixed-toolbar {
			display: none;
		}
	}
}
