.woocommerce-add-attribute-list-item {
	min-height: 82px;
	padding: 0 $gap-large;

	&:last-child {
		margin-bottom: -1px;
	}
}

.woocommerce-list-item.woocommerce-attribute-list-item {
	display: grid;
	background: none;
	border: none;
	padding: 0;
	grid-template-columns: 1fr 2fr 16 * $grid-unit;
	min-height: 9 * $grid-unit;
	padding: $grid-unit + $grid-unit-05 0;
}

.woocommerce-attribute-list-item {
	&:not(:last-child) {
		border-bottom: 1px solid $gray-200;
	}

	&__actions {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: end;
		gap: $gap-smaller;
	}

	&__actions-tooltip.components-tooltip.components-popover
		.components-popover__content {
		width: 100%;
		max-width: 150px;
		white-space: normal;
	}

	&__actions-icon-wrapper {
		display: flex;
		align-items: center;
		position: relative;

		&-icon {
			color: $gray-600;
			cursor: help;
		}

		&-help-icon {
			position: absolute;
			right: -2px;
			bottom: 0px;
		}
	}
}
