/*
 * Styles for both the email editor and renderer.
 */

/* Automatic padding for blocks with background color */
.email-text-block.has-background,
p.has-background,
h1.has-background,
h2.has-background,
h3.has-background,
h4.has-background,
h5.has-background,
h6.has-background {
	padding: 16px 24px;
}

/**
 * Default styles for the quote block.
 */
.wp-block-quote .email-block-quote-content {
	padding: var(--wp--style--block-gap, 16px);
}

.wp-block-quote:not(.has-text-align-right):not(.has-text-align-center) {
	border-left: 1px solid #000;
}

.wp-block-quote.has-text-align-right {
	border-right: 1px solid #000;
}
