@mixin skeleton {
	@include placeholder();
	background-color: $gray-200;
	border-radius: $grid-unit-05;
	min-width: $grid-unit-20;
	min-height: $grid-unit-20;
}

.woocommerce-product-page-skeleton {
	height: calc(100vh - 46px);
	overflow: hidden;

	@include breakpoint(">782px") {
		height: calc(100vh - $grid-unit-40);
	}

	&__header {
		border-bottom: 1px solid $gray-300;
	}

	&__header-row {
		&:first-child {
			display: flex;
			align-items: center;
			height: 60px;
			padding: 0 $grid-unit-40;

			@include breakpoint(">782px") {
				display: grid;
				grid-template-columns: 1fr auto 1fr;
				grid-gap: $grid-unit-20;
				padding: 0 $grid-unit-20;
			}
		}

		&:last-child {
			overflow: hidden;

			@include breakpoint(">782px") {
				display: flex;
				justify-content: center;
			}
		}
	}

	&__header-title {
		@include skeleton();
		width: 100%;
		height: $grid-unit-30;

		@include breakpoint(">782px") {
			width: 450px;
		}
	}

	&__header-actions {
		display: none;

		@include breakpoint(">782px") {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: $grid-unit;
		}
	}

	&__header-actions-other,
	&__header-actions-main,
	&__header-actions-config {
		@include skeleton();
		height: $grid-unit-30;
	}

	&__header-actions-other {
		width: $grid-unit-60;
	}

	&__header-actions-main {
		width: $grid-unit-80;
	}

	&__header-actions-config {
		width: $grid-unit-30;
	}

	&__tabs {
		height: 46px;
		width: fit-content;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		gap: $grid-unit-30;
		overflow-x: auto;
		margin: 0 $grid-unit-40;
	}

	&__tab-item {
		@include skeleton();
		width: $grid-unit-80;
		height: $grid-unit-20;
		margin-top: $grid-unit;
		flex-shrink: 0;
	}

	&__body-tabs-content {
		padding-top: $grid-unit-80;
		padding-left: $grid-unit-40;
		padding-right: $grid-unit-40;

		@include breakpoint(">782px") {
			padding-left: 0;
			padding-right: 0;
			max-width: 650px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__block-title {
		@include skeleton();
		width: 100%;
		height: 28px;
		margin-bottom: $grid-unit-40;

		@include breakpoint(">782px") {
			width: 450px;
		}
	}

	&__block-label {
		@include skeleton();
		width: $grid-unit-80;
		margin-bottom: $grid-unit;
	}

	&__block-input {
		@include skeleton();
		width: 100%;
		height: 36px;
		margin-bottom: $grid-unit-30;
	}

	&__block-textarea {
		@include skeleton();
		width: 100%;
		height: 126px;
		margin-bottom: $grid-unit-30;
	}

	&__block-separator {
		border-bottom: 1px solid $gray-300;
		width: 100%;
		height: 0;
		margin: $grid-unit-80 0;
	}
}
