.wp-block-woocommerce-product-variations-fields {
	margin-top: $grid-unit-80;

	&--has-attributes {
		.wp-block-woocommerce-product-variations-fields__heading {
			display: none;
		}

		.wp-block-woocommerce-product-variations-fields__content {
			display: block;
		}
	}

	&__heading {
		text-align: center;
	}

	&__heading-image-container {
		padding-top: $grid-unit-60;
		padding-bottom: $grid-unit-60;
	}

	&__heading-description {
		margin: 0;
		padding-bottom: $grid-unit-30;
	}

	&__content {
		display: none;
	}
}
