@import 'attributes/editor.scss';
@import 'category/editor.scss';
@import 'checkbox/editor.scss';
@import 'images/editor.scss';
@import 'inventory-email/editor.scss';
@import 'inventory-sku/editor.scss';
@import 'name/editor.scss';
@import 'notice/editor.scss';
@import 'pricing/editor.scss';
@import 'regular-price/editor.scss';
@import 'sale-price/editor.scss';
@import 'schedule-sale/editor.scss';
@import 'section/editor.scss';
@import 'shipping-dimensions/editor.scss';
@import 'summary/editor.scss';
@import 'tab/editor.scss';
@import 'variations/editor.scss';
@import 'password/editor.scss';
@import 'variation-items/editor.scss';
@import 'variation-options/editor.scss';
