*.min.js

/.wireit/**
/assets/**
/bin/composer/**
/client/legacy/build/**
/client/legacy/js/accounting/**
/client/legacy/js/flexslider/**
/client/legacy/js/jquery-blockui/**
/client/legacy/js/jquery-cookie/**
/client/legacy/js/jquery-flot/**
/client/legacy/js/jquery-payment/**
/client/legacy/js/jquery-qrcode/**
/client/legacy/js/jquery-serializejson/**
/client/legacy/js/jquery-tiptip/**
/client/legacy/js/jquery-ui-touch-punch/**
/client/legacy/js/js-cookie/**
/client/legacy/js/photoswipe/**
/client/legacy/js/prettyPhoto/**
/client/legacy/js/round/**
/client/legacy/js/select2/**
/client/legacy/js/selectWoo/**
/client/legacy/js/stupidtable/**
/client/legacy/js/zoom/**
/includes/gateways/**
/tests/e2e/**
/vendor/**
