# All CSS
/assets/css/**
/assets/css/*.css

# All JS
/assets/js/**
/assets/js/*.js
/assets/client

# Behat/CLI Tests
tests/cli/installer
tests/cli/composer.phar
tests/cli/composer.lock
tests/cli/composer.json
tests/cli/vendor

# Unit tests
/tests/bin/tmp
/tests/e2e/config/local-*.json
/tests/e2e/config/local.json
/tests/e2e/config/default.json
/tests/e2e/docker
/tests/e2e/screenshots
/tests/e2e/plugins
.phpunit.result.cache

# Packages
/packages/*
!/packages/README.md

# Language files
i18n/languages/woocommerce.pot

# Allure directories
allure-report
allure-results

# Environment files
.wp-env.override.json
