# Remove files for archives generated using `git archive`.
/.*                     export-ignore
/README.md              export-ignore
/CODE_OF_CONDUCT.md     export-ignore
/NEXT_CHANGELOG.md      export-ignore
/changelog.txt          export-ignore
/changelog              export-ignore
/bin                    export-ignore
/composer.json          export-ignore
/composer.lock          export-ignore
/package.json           export-ignore
/package-lock.json      export-ignore
/client/legacy          export-ignore
/tsconfig.json          export-ignore
/tsconfig.base.json     export-ignore
/phpunit.xml            export-ignore
/phpunit.xml            export-ignore
/tests                  export-ignore
