.wp-block-woocommerce-product-attributes-field {
	.woocommerce-sortable {
		padding: 0;
	}

	.woocommerce-list-item {
		background: none;
		border: none;
		border-bottom: 1px solid $gray-200;
		padding-left: 0;
        grid-template-columns: 26% auto 90px;
	}

    .woocommerce-sortable__handle {
        display: none;
    }

}
