.woocommerce-wcpay-benefits {
	background-color: #fff;
	border-radius: 2px;
	padding: 36px 24px;
	width: 680px;
	min-height: 200px;

	.woocommerce-wcpay-benefits-benefit {
		flex-direction: column;
		justify-content: start;
		margin-left: 0;
		width: 186px;
		align-items: start;
		gap: $gap;

		.woocommerce-wcpay-benefits-benefit-icon-container {
			width: 48px;
			height: 48px;
			background-color: #F2EDFF;
			border-radius: 12px;
			justify-content: center;
		}
	}

	p {
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 16px;
		color: $studio-gray-90;
	}
}
