.product-details-section {

	&__product-link {
		color: #757575;
		font-size: 12px;
		display: block;
		margin-top: $gap-smaller;

		> a {
			color: inherit;
			text-decoration: none;
			font-weight: 600;
		}

		.components-button.is-link {
			font-size: 12px;
			text-decoration: none;
			margin-left: $gap-smaller;
		}
	}
}

.woocommerce-product-form__required-input {
	color: #CC1818;
}

.wp-block-woocommerce-product-name-field {
	.has-error {
		.components-base-control .components-input-control__backdrop {
			border-color: $studio-red-50;
		}

		.components-base-control__help {
			color: $studio-red-50;
		}
	}
}
