require:
	min: 2.8.0

resources:
	resources: resources

templates:
	common:
		overview.latte: index.html
		combined.js.latte: resources/combined.js
		elementlist.js.latte: elementlist.js
		404.latte: 404.html

	main:
		package:
			filename: package-%s.html
			template: package.latte
		namespace:
			filename: namespace-%s.html
			template: namespace.latte
		class:
			filename: class-%s.html
			template: class.latte
		constant:
			filename: constant-%s.html
			template: constant.latte
		function:
			filename: function-%s.html
			template: function.latte
		source:
			filename: source-%s.html
			template: source.latte
		tree:
			filename: tree.html
			template: tree.latte
		deprecated:
			filename: deprecated.html
			template: deprecated.latte
		todo:
			filename: todo.html
			template: todo.latte

	optional:
		sitemap:
			filename: sitemap.xml
			template: sitemap.xml.latte
		opensearch:
			filename: opensearch.xml
			template: opensearch.xml.latte
		robots:
			filename: robots.txt
			template: robots.txt.latte

options:
	elementDetailsCollapsed: Yes
	elementsOrder: natural # alphabetical
