.wp-block-woocommerce-product-sale-price-field {
	.components-currency-control {
		.components-input-control__prefix {
			color: $gray-700;
			word-break: normal;
		}

		.components-input-control__input {
			text-align: right;
		}
	}
}
