# Define @woocommerce/blocks as the code owners of the repo so the team is
# tagged to review new PRs automatically.
*       @woocommerce/rubik
package.json renovate-approve
package-lock.json renovate-approve
composer.json renovate-approve
composer-lock.json renovate-approve
