<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	verbose="true"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
	<testsuites>
		<testsuite name="WooCommerceDocs Test Suite">
			<directory suffix=".php">./tests/src</directory>
		</testsuite>
	</testsuites>
	<coverage includeUncoveredFiles="true">
		<include>
			<directory suffix=".php">./src</directory>
		<file>woocommerce-docs.php</file>		
		</include>
	</coverage>
</phpunit>
