.woocommerce-publish-panel-visibility {
	&__fieldset {
		legend {
			padding-bottom: $gap-large;
		}
		> div {
			padding-bottom: $gap-smaller;
		}
		.wp-block-woocommerce-product-password-fields__field {
			margin-bottom: 0;
		}
	}
}
