@import '@wordpress/interface/src/style.scss';

.woocommerce-admin-page__product_product-id {
	.woocommerce-store-alerts {
		display: none;
	}

	.woocommerce-layout__primary {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0;
	}

	.woocommerce-layout .woocommerce-layout__main {
		padding: 0;
	}

	.interface-interface-skeleton {
		background-color: $white;
		position: static;
	}

	.interface-interface-skeleton__sidebar {
		width: 280px;
	}

	.interface-interface-skeleton__header {
		background-color: $white;
		width: calc( 100% - $admin-menu-width );
		left: $admin-menu-width;
		top: $adminbar-height;
		position: fixed;
		@include breakpoint( '<960px' ) {
			left: $admin-menu-width-collapsed;
			width: calc( 100% - $admin-menu-width-collapsed );
		}
		@include breakpoint( '<782px' ) {
			top: $adminbar-height-mobile;
			left: 0;
			width: 100%;
		}
		// Higher than the sidebar which has a z-index of 90.
		z-index: 100;
	}
}
