.woocommerce-enriched-label-story__checkbox-control {
	.woocommerce-enriched-label__help-wrapper {
		.components-popover {
			margin: 0;
		}
	}
	.components-base-control__field {
		display: flex;
		.components-checkbox-control {
			&__label {
				display: flex;
			}

			&__input-container {
				align-self: center;
			}

			.woocommerce-enriched-label__text {
				align-self: center;
			}
		}
	}
}
