
.woocommerce-product-form_inventory-sku {
	.components-base-control__label {
		display: flex;
		align-items: center;
	}
	.woocommerce-product-form__optional-input {
		margin-left: $gap-smallest;
	}
	.woocommerce-tooltip__button {
		padding: 0 0 0 $gap-smallest;
	}
}
