/.* export-ignore
/*.md export-ignore
/node_modules* export-ignore
/tests export-ignore
/bin export-ignore
/phpcs.xml export-ignore
/phpunit.* export-ignore
/composer.lock export-ignore
/composer.json export-ignore
/CODEOWNERS export-ignore
/renovate.json export-ignore
/webpack.config.js export-ignore
/postcss.config.js export-ignore
/bundlesize.config.json export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/babel-config.js export-ignore
