.wp-block-woocommerce-product-images {
    .components-card__body {
        padding: 0 0 40px 0;
    }
    .woocommerce-media-uploader {
        text-align: left;
    }
    .woocommerce-media-uploader__label {
        display: none;
    }
    .woocommerce-sortable {
        margin-top: 0;
        padding: 0;
    }

    &:not(.has-images) {
        .woocommerce-sortable {
            display: none;
        }
    }
}
