.woocommerce-product-variations {
	display: flex;
	flex-direction: column;
	position: relative;

	> div {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	&__loading {
		display: flex;
		flex-direction: column;
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		gap: $gap;

		.components-spinner {
			width: $gap-largest;
			height: $gap-largest;
		}
	}

	&__status-dot {
		margin-right: $gap-smaller;
		&.green {
			color: $alert-green;
		}
		&.yellow {
			color: $alert-yellow;
		}
		&.red {
			color: $alert-red;
		}
	}

	&__price--fade,
	&__quantity--fade {
		opacity: 0.5;
	}

	&__actions {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.components-button {
			position: relative;
			color: var(--wp-admin-theme-color);

			&:disabled,
			&[aria-disabled="true"] {
				opacity: 1;
			}

			.components-spinner {
				margin: 4px;
			}
		}

		.components-button svg {
			fill: none;
		}

		.components-button--visible {
			color: $gray-700;
		}

		.components-button--hidden {
			color: $alert-red;
		}
	}

	.woocommerce-list-item {
		display: grid;
		grid-template-columns: auto 25% 25% 88px;
		padding: 0;
		min-height: calc($grid-unit * 9);
		border: none;
	}

	.woocommerce-sortable {
		margin: 0;
		flex: 1 0 auto;

		&__item:not(:last-child) .woocommerce-list-item {
			border-bottom: 1px solid $gray-200;
		}

		&__handle {
			display: none;
		}
	}

	&__footer {
		padding: $gap;
	}
}
