.woocommerce-date-time-picker-control {
	display: block;

	.woocommerce-date-time-picker-control__input-control__suffix {
		padding-right: 8px;
	}

	.components-datetime__date {
		border-top: 0;
	}
}
