.woocommerce-pill {
	border: 1px solid $gray-700;
	border-radius: 28px;
	color: $gray-700;
	display: inline-block;
	padding: $gap-smallest $gap-smaller;

	@include breakpoint( '<320px' ) {
		font-size: 11px;
	}
}
