$media-modal-z-index: calc(z-index(".components-popover") + 10000);
$media-modal-backdrop-z-index: calc($media-modal-z-index - 1000);

.woocommerce-add-image-menu-item {
	&__upload_image_modal_wrapper {
		.media-modal {
			z-index: $media-modal-z-index;
		}

		.media-modal-backdrop {
			z-index: $media-modal-backdrop-z-index;
		}
	}
}
