$modal-editor-height: 60px;

.woocommerce-modal-editor {
    width: 100%;
    height: 100%;
    max-height: calc( 100% - 40px );
    margin: $gap-large;
	@media only screen and (max-width: $break-mobile) {
		margin: unset;
		max-height: unset;
	}
    border-radius: 8px;

    .components-modal__header {
        height: $modal-editor-height;
        border-bottom: 1px solid $gray-400;
        padding-left: 18px;
        padding-right: 18px;

        .components-modal__header-heading {
            font-size: 16px;
            line-height: 24px;
        }
    }

    .components-modal__content {
		display: flex;
		margin-top: $modal-editor-height;
        padding: 0;

		& > div {
			width: 100%;
		}
    }
}
