@import "~@wordpress/base-styles/variables";
@import "~@wordpress/base-styles/breakpoints";
@import "~@wordpress/base-styles/mixins";

$email-editor-template-select-sidebar-width: 280px;

.email-editor-template-select__sidebar {
	padding-bottom: $grid-unit-30;

	@include break-medium() {
		bottom: 0;
		inset-inline-start: 0;
		overflow-x: visible;
		overflow-y: auto;
		padding: $grid-unit-30;
		position: absolute;
		top: $header-height + $grid-unit-10;
		width: $email-editor-template-select-sidebar-width;
	}
}

.email-editor-template-select__panel {
	@include break-medium() {
		margin-inline-start: $email-editor-template-select-sidebar-width;
	}
}

.email-editor-template-select__list {
	padding: $grid-unit-30 0 $grid-unit-40;
}

.email-editor-template-select__templates {
	display: grid;
	grid-gap: $grid-unit-40;
	grid-template-columns: repeat(1, 1fr);
	margin-bottom: $grid-unit-20;

	@include break-xlarge() {
		grid-template-columns: repeat(2, 1fr);
	}

	@include break-huge() {
		grid-template-columns: repeat(3, 1fr);
	}
}

.email-editor-template-select__template {
	border: 1px solid #ddd;
	border-radius: 4px;
	cursor: pointer;
	min-height: 240px;
	overflow: hidden;
	position: relative;
}

.email-editor-template-select__template-button {
	height: 100%;

	.block-editor-block-preview__container {
		align-items: flex-start;
		border-radius: 4px;
		display: flex;
		max-height: 300px;
	}
}

.email-editor-template-select__template-details {
	margin-top: $grid-unit-10;
	padding-bottom: $grid-unit-05;
}

.email-editor-template-select__template-title {
	flex-grow: 1;
	padding-inline-start: 1rem;
	text-align: start;
}

.email-editor-template-select__no-results {
	margin-inline: auto;
}

.email-editor-modal-footer {
	background-color: #fff;
	bottom: 0;
	inset-inline-end: 0;
	padding: 1rem 2rem;
	position: absolute;
}
