.woocommerce-admin-test-helper__main-tab-panel {
    .active-tab {
        box-shadow: inset 0 1.5px #007cba;
        box-shadow: inset 0 1.5px var(--wp-admin-theme-color);
    }
}

.woocommerce-admin-test-helper__action-status {
    color: #007cba;
    color: var(--wp-admin-theme-color);
    font-family: monospace;
}

.woocommerce-admin-test-helper__add-notes {
    width: 410px;
    display: flex;
    justify-content: space-between;
    .components-base-control__field {
        margin-bottom: 0;
        padding-top: 3px;
    }
}

#wc-admin-test-helper-options {
    div.search-box {
        float: right;
        margin-bottom:10px;
    }

    .btn-danger {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .align-center {
        text-align: center;
    }

    .components-notice {
        margin: 0px 0px 10px 0px;
    }
}

.wca-test-helper-option-editor {
    width: 100%;
    height: 300px;
}

.wca-test-helper-edit-btn-save {
    float: right;
}

#wc-admin-test-helper-tools, #wc-admin-test-helper-experiments {
    table.tools, table.experiments {
        thead th {
            text-align: center;
        }
        tbody td {
            vertical-align: middle;
            &.command {
                white-space: nowrap;
            }
            .trigger-cron-job {
                width: 40%;
                padding-top: 4px;
                .components-base-control__field {
                    margin-bottom: 0;
                }
            }
        }
    }
    .components-notice {
        margin: 0px 0px 10px 0px;
    }    
}