.button_iframe iframe {
    width: 58px;
    height: 230px;
    position: fixed;
    top:360px;
    right:0px;
}

.button_iframe-normal iframe {
    float:right;
    height: 58px;
    width: 230px;
	position:relative;
	z-index:1000;
}

.button_iframe-normal.button_height {
	height: 60px;
}

#shareyourcart_button {
	margin: .5em 0 0;
	overflow: hidden;
}