.woocommerce-single-select-page-with-search__menu-loading {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: $grid-unit;
	height: $grid-unit-60 + 2px;
}

.woocommerce-experimental-select-control__popover-menu-container,
.woocommerce-experimental-select-control__menu-item {
	cursor: pointer;
}