{
	"presets": [ "@wordpress/default" ],
	"plugins": [
		"@babel/plugin-transform-async-to-generator",
		"@wordpress/babel-plugin-import-jsx-pragma",
		[
			"@babel/plugin-transform-react-jsx",
			{
				"pragma": "wp.element.createElement",
			},
		],
	],
	"env": {
		"production": {
			"plugins": [
				[
					"@wordpress/babel-plugin-makepot",
					{
						"output": "languages/wc-admin.pot",
					},
				],
				"@wordpress/babel-plugin-import-jsx-pragma",
				"@babel/plugin-transform-async-to-generator",
			],
		},
	},
}
