{
	"presets": [
		"@wordpress/default"
	],
	"plugins": [
		"transform-async-generator-functions"
	],
	"env": {
		"production": {
			"plugins": [
				[
					"@wordpress/babel-plugin-makepot",
					{
						"output": "languages/woo-dash.pot"
					}
				],
				"transform-async-generator-functions"
			]
		}
	}
}
