{
    "root": true,
    "parser": "babel-eslint",
    "extends": [
        "wpcalypso/react",
    ],
    "env": {
        "browser": true,
        "mocha": true,
        "node": true
    },
    "globals": {
        "FoxhoundData": true,
        "FoxhoundMenu": true,
        "FoxhoundSettings": true,
        "jQuery": true,
        "wp": true,
    },
    "rules": {
        "camelcase": 0,
        "max-len": [ 2, { "code": 140 } ],
        "no-console": 1,
        "react/no-danger": 0,
        "react/react-in-jsx-scope": 0,
        "wpcalypso/import-no-redux-combine-reducers": 0,
        "wpcalypso/jsx-classname-namespace": 0,
        "wpcalypso/redux-no-bound-selectors": 1,
    }
}
