.woocommerce-product-custom-fields__empty-state {
	@mixin skeleton {
		background-color: $gray-200;
		border-radius: $grid-unit-05;
		width: $grid-unit-30;
		height: $grid-unit;
	}

	border: 1px dashed $gray-400;
	padding: 0 $grid-unit-30;
	border-radius: 2px;

	&-row {
		display: grid;
		grid-template-columns: 1.5fr 1fr 0.5fr;
		height: $grid-unit-80;
		align-items: center;
		border-top: 1px solid $gray-100;

		&:first-child {
			border-top: none;

			.woocommerce-product-custom-fields__empty-state-name {
				width: 140px;
			}
		}

		&:nth-child(2) {
			opacity: 0.7;

			.woocommerce-product-custom-fields__empty-state-name {
				width: 75px;
			}
		}

		&:nth-child(3) {
			opacity: 0.5;

			.woocommerce-product-custom-fields__empty-state-name {
				width: 114px;
			}
		}

		:last-child {
			display: flex;
			justify-content: flex-end;
		}
	}

	&-name {
		@include skeleton();
	}

	&-actions {
		@include skeleton();
		width: $grid-unit-60;
	}
}
