.woocommerce-enriched-label__text {
	align-self: center;
}
.woocommerce-enriched-label__help-wrapper {
	.components-button {
		padding: 0;
		height: 28px;
	}
	.components-popover {
		.components-popover__content {
			min-width: 360px;
			> div {
				padding: $gap $gap-large;
				font-size: 16px;
			}
		}
	}
}
