@import "./downloads-menu/style.scss";
@import "./media-library-menu-item/style.scss";
@import "./insert-url-menu-item/style.scss";
@import "./edit-downloads-modal/style.scss";

$fixed-section-height: 224px;

.wp-block-woocommerce-product-downloads-field {
	&__header {
		display: flex;
		justify-content: flex-end;
		margin-bottom: $grid-unit-30;
		gap: $grid-unit;
	}

	&__body {
		position: relative;
	}

	&__table {
		height: $fixed-section-height;
		overflow: auto;
		margin: 0;
		flex: 1 0 auto;
	}

	&__table-filename {
		display: flex;
		flex-direction: column;
		gap: 2px;
	}

	&__table-filename-description {
		color: $gray-700;
	}

	&__table-actions {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: $grid-unit;
		padding-right: 2px;

		.components-button.has-icon {
			color: $gray-700;
			width: $grid-unit-30;
			height: $grid-unit-30;
			min-width: inherit;
			padding: 0;
		}
	}

	&__drop-zone-content {
		border: 1px dashed $gray-400;
		height: $fixed-section-height;
		border-radius: 2px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		gap: $grid-unit-30;
	}

	&__drop-zone-label {
		color: $gray-700;
		font-weight: normal;
		margin: 0;
	}

	.woocommerce-sortable {
		&__item .woocommerce-list-item {
			display: grid;
			grid-template-columns: auto 88px;
			padding: 0;
			min-height: calc($grid-unit-80 + $grid-unit-05);
			border: none;
		}

		&__item:not(:last-child) .woocommerce-list-item {
			border-bottom: 1px solid $gray-200;
		}

		&__handle {
			display: none;
		}
	}
}
