*.min.js

/js/accounting/**
/js/flexslider/**
/js/jquery-blockui/**
/js/jquery-cookie/**
/js/jquery-flot/**
/js/jquery-payment/**
/js/jquery-qrcode/**
/js/jquery-serializejson/**
/js/jquery-tiptip/**
/js/jquery-ui-touch-punch/**
/js/js-cookie/**
/js/photoswipe/**
/js/prettyPhoto/**
/js/round/**
/js/select2/**
/js/selectWoo/**
/js/stupidtable/**
/js/zoom/**
