name: Build zip for PR 
on: pull_request
jobs:
  build:
    name: Build zip for PR
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: plugins/woocommerce
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build
        id: build
        uses: woocommerce/action-build@monorepo-patch

      - name: Upload PR zip
        uses: actions/upload-artifact@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: woocommerce
          path: ${{ steps.build.outputs.zip_path }}
          retention-days: 7

  e2e-tests-run:
    name: Runs E2E tests.
    runs-on: ubuntu-18.04
    defaults:
      run:
        working-directory: plugins/woocommerce
    needs: [build]
    steps:
      - name: Create dirs.
        run: |
          mkdir -p code/woocommerce
          mkdir -p package/woocommerce
          mkdir -p tmp/woocommerce
          mkdir -p node_modules
          ls -la
