name: Build zip for PR
on: pull_request
jobs:
    build:
        name: Build zip for PR
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Build
              id: build
              uses: woocommerce/action-build@trunk
              env:
                  BUILD_ENV: e2e

            - name: Upload PR zip
              uses: actions/upload-artifact@v2
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  name: woocommerce
                  path: ${{ steps.build.outputs.zip_path }}
                  retention-days: 7

    e2e-tests-run:
        name: Runs E2E tests.
        runs-on: ubuntu-18.04
        needs: [build]
        steps:
            - name: Create dirs.
              run: |
                  mkdir -p code/woocommerce
                  mkdir -p package/woocommerce
                  mkdir -p tmp/woocommerce
                  mkdir -p node_modules

            - name: Checkout code.
              uses: actions/checkout@v2
              with:
                  path: package/woocommerce

            - name: Install PNPM and install dependencies
              working-directory: package/woocommerce
              run: |
                  npm install -g pnpm
                  npm install -g nx
                  pnpm install

            - name: Load docker images and start containers.
              working-directory: package/woocommerce
              run: pnpx wc-e2e docker:up

            - name: Move current directory to code. We will install zip file in this dir later.
              run: mv ./package/woocommerce/plugins/woocommerce/* ./code/woocommerce

            - name: Download WooCommerce ZIP.
              uses: actions/download-artifact@v2
              with:
                  name: woocommerce
                  path: tmp

            - name: Extract and replace WooCommerce zip.
              working-directory: tmp
              run: |
                  unzip woocommerce.zip -d woocommerce
                  mv woocommerce/woocommerce/* ../package/woocommerce/plugins/woocommerce/

            - name: Run tests command.
              working-directory: package/woocommerce/plugins/woocommerce
              env:
                  WC_E2E_SCREENSHOTS: 1
                  E2E_SLACK_TOKEN: ${{ secrets.E2E_SLACK_TOKEN }}
                  E2E_SLACK_CHANNEL: ${{ secrets.E2E_SLACK_CHANNEL }}
                  BASE_URL: ${{ secrets.PR_E2E_TEST_URL }}
                  USER_KEY: ${{ secrets.PR_E2E_TEST_ADMIN_USER }}
                  USER_SECRET: ${{ secrets.PR_E2E_TEST_ADMIN_PASSWORD }}
              run: |
                  pnpx wc-e2e test:e2e
                  pnpx wc-api-tests test api
