name: Smoke test daily
on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'Added just to test the action manually. Should be removed once everything is working.'
        required: false
        default: ''
  schedule:
    - cron: '25 3 * * *'
jobs:
  login-run:
    name: Daily smoke test on trunk.
    runs-on: ubuntu-18.04
    steps:

      - name: Create dirs.
        run: |
              mkdir -p code/woocommerce
              mkdir -p package/woocommerce
              mkdir -p tmp/woocommerce
              mkdir -p node_modules

      - name: Checkout code.
        uses: actions/checkout@v2
        with:
          path: package/woocommerce
          ref: trunk

      - name: Install prerequisites.
        working-directory: package/woocommerce/plugins/woocommerce
        run: |
          npm install -g pnpm
          pnpm install
          composer install --no-dev
          pnpm run build:assets
          pnpm install jest
          
      - name: Run smoke test.
        env:
          SMOKE_TEST_URL: ${{ secrets.SMOKE_TEST_URL }}
          SMOKE_TEST_ADMIN_USER: ${{ secrets.SMOKE_TEST_ADMIN_USER }}
          SMOKE_TEST_ADMIN_PASSWORD: ${{ secrets.SMOKE_TEST_ADMIN_PASSWORD }}
          SMOKE_TEST_ADMIN_USER_EMAIL: ${{ secrets.SMOKE_TEST_ADMIN_USER_EMAIL }}
          SMOKE_TEST_CUSTOMER_USER: ${{ secrets.SMOKE_TEST_CUSTOMER_USER }}
          SMOKE_TEST_CUSTOMER_PASSWORD: ${{ secrets.SMOKE_TEST_CUSTOMER_PASSWORD }}
          WC_E2E_SCREENSHOTS: 1
          E2E_RETEST: 1
          E2E_SLACK_TOKEN: ${{ secrets.SMOKE_TEST_SLACK_TOKEN }}
          E2E_SLACK_CHANNEL: ${{ secrets.SMOKE_TEST_SLACK_CHANNEL }}
          UPDATE_WC: 1
          DEFAULT_TIMEOUT_OVERRIDE: 120000
          BASE_URL: ${{ secrets.SMOKE_TEST_URL }}
          USER_KEY: ${{ secrets.SMOKE_TEST_ADMIN_USER }}
          USER_SECRET: ${{ secrets.SMOKE_TEST_ADMIN_PASSWORD }}
        run: |
          pnpx wc-e2e test:e2e ../package/woocommerce/plugins/woocommerce/tests/e2e/specs/smoke-tests/update-woocommerce.js
          pnpx wc-e2e test:e2e
          pnpx wc-api-tests test api
