.woocommerce-rating {
	position: relative;
	vertical-align: middle;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;

	.gridicon {
		fill: $gray-200;
	}

	.woocommerce-rating__star-outline {
		position: absolute;
		left: 0;
		top: 0;
		white-space: nowrap;
		overflow: hidden;

		.gridicon {
			fill: $gray-700;
		}
	}
}
