.wp-block-woocommerce-product-tab__content {
    &:not(.is-selected) {
		display: none;
	}
}

.wp-block-woocommerce-product-tab {
	padding-left: calc( 2 * $gap );
	padding-right: calc( 2 * $gap );

	@include breakpoint(">782px") {
		padding-left: 0;
		padding-right: 0;
		max-width: 650px;
		margin-left: auto;
		margin-right: auto;
	}
}


.woocommerce-product-tabs {
	.wp-block-woocommerce-product-tab__button:focus:not( :disabled ) {
		box-shadow: none;
	}
}

// Remove the Gutenberg selected outline.
.wp-block-woocommerce-product-tab:after {
	display: none;
}
