.wp-block-woocommerce-product-tab__content {
	&:not(.is-selected) {
		display: none;
	}
}

.woocommerce-product-tabs {
	.wp-block-woocommerce-product-tab__button:focus:not(:disabled) {
		box-shadow: none;
	}
}

// Remove the Gutenberg selected outline.
.wp-block-woocommerce-product-tab:after {
	display: none;
}
